[2020-01-10 04:50] wenqingfu opened #36 "bash style alignment"
I've seen several flavors of bash expressions were used in existing test cases, as well as PRs under review. Before we go too far away, can we align the coding style to use? please add new line items that you think we should align

- = vs ==
- [ vs [[
...

[2020-01-10 05:48] Bin-QA opened #37 "Fix exit status of script"
in  https://github.com/thesofproject/sof-test/pull/11 I find we have some error exit
[code]

We already define  at [exit function](https://github.com/thesofproject/sof-test/blob/master/case-lib/hijack.sh#L51)
[code]
but don't document it & fix some exit code in the script

[2020-01-15 07:16] xiulipan opened #43 "dmesg check still influenced by DSP init fail"
From https://sof-ci.01.org/linuxpr/PR1706/build2893/devicetest/ICL_RVP_HDA/check-runtime-pm-status.sh/check-runtime-pm-status.sh.txt

The DSP init fail in retry is still caught by our dmesg check by keyword "failed"

[2020-01-16 13:26] lgirdwood opened #47 "[BUG]: ICL runtime PM test result exist status not aligned with dmesg."
I'm seeing quite a few Jenkins ICL runtime PM failures. See https://sof-ci.01.org/sofpr/PR2285/build4551/devicetest/

Test result for ICL https://sof-ci.01.org/base/check-runtime-pm-status.html is fail:
[code]
but dmesg looks fine ?
[code]

[2020-01-16 13:27] lgirdwood commented on #47
@xiulipan probably worth setting up codeowners here too, I've assigned to you but you can re-assign if not the owner.

[2020-01-17 04:04] xiulipan commented on #47
@lgirdwood I will create some .github file in this repo to make codeowner.

For this case, we are trying to test if DSP will enter suspend state after stop the PCM, but it seems the DSP do not enter suspend from both kernel debug state and from dmesg.

If the DSP enter the suspend status we will see something like
[code]

I remember we will enter suspend in 2s as we have set
[code]
https://github.

[2020-01-17 04:41] xiulipan opened #48 "dmesg dump from boot start instead of test case start"
For verify case related to kernel, we will need dmesg dump from boot instead of script start.

[2020-01-19 06:32] xiulipan opened #49 "[BUG] pause/resume test could not run"
[code]

[2020-01-19 09:28] xiulipan commented on #43
Fixed by #45

[2020-01-19 09:28] #43 closed

[2020-01-21 02:18] #48 closed

[2020-01-21 08:31] xiulipan opened #54 "[BUG] random Device or resource busy in kmod test with audio"
In test **check-kmod-load-unload-after-playback.sh**
the first check to aplay random failed due to
`aplay: main:788: audio open error: Device or resource busy`

Full log
https://sof-ci.01.org/linuxpr/PR1737/build2947/devicetest/BDW_WSB_RT286/check-kmod-load-unload-after-playback.sh/check-kmod-load-unload-after-playback.sh.txt
https://sof-ci.01.org/linuxpr/PR1737/build2947/devicetest/BDW_WSB_RT286/

[2020-01-22 07:16] #54 closed

[2020-01-22 07:17] xiulipan commented on #54
Fix by #55

[2020-02-08 11:08] xiulipan commented on #49
Fixed by #50

[2020-02-08 11:08] #49 closed

[2020-02-08 11:29] xiulipan opened #71 "func_pipeline_export pipeline type update"
We would like to let the pipeline function output capture pipeline with only `capture` instead
`capture,both`

And if we get `both` type we can still get PCM with both capture and playback.

[2020-02-08 14:26] Bin-QA commented on #71
@xiulipan  I can add the `both` as default and hide option for the sof-tplgreader.py
but how about this case: [simultaneous-playback-capture.sh](https://github.com/thesofproject/sof-test/blob/master/test-case/simultaneous-playback-capture.sh)

So how many case need identify device type ??

if need hide the `both` for `multiple-pipeline-*` type case I will suggest to merge them as one script

[2020-02-10 02:15] aiChaoSONG commented on #71
I think we should modify sof-tplgreader.py, for PCM with playback and capture, output two lines.  for special case, we can add an argument in sof-tplgreader.py, and let special case call sof-tplgreader.py to obtain "both" PCM @Bin-QA @xiulipan

[2020-02-10 02:38] xiulipan commented on #71
@aiChaoSONG @Bin-QA Yes, let's split the PCM from very beginning. The both will also output some PCM if it has both capture and playback.

EG If we have `PCM0P PMC0C PCM1P PCM2C` in card 0
with `playback` we should get `hw:0,0 hw:0,1`
with `capture` we should get `hw:0,0 hw:0,2`
with `both` we should get `hw:0,0`

So case that need to use both like : simultaneous-playback-capture.sh we still use b

[2020-02-10 03:00] Bin-QA commented on #71
@xiulipan so this change just effect export `-e` option?

[2020-02-10 04:07] xiulipan commented on #71
@Bin-QA I think this will also need some change from tplg-reader?

[2020-02-11 00:14] Bin-QA commented on #71
@xiulipan @aiChaoSONG
I think here will have 3 option:
1. just modify [func_pipeline_export](https://github.com/thesofproject/sof-test/blob/master/case-lib/pipeline.sh#L33) to add `both` keyword as default option, without python refer script change
[code]
2. modify sof-tplgreader.py to add `both` as default option of [filter](https://github.com/thesofproject/sof-test/blob/master/tools/sof-tplgread

[2020-02-13 05:37] aiChaoSONG opened #77 "[RFC] discussion on split both pipeline, PGA and EQ"
based on https://github.com/thesofproject/sof-test/pull/10, I split "both" type pipeline into playback and capture pipelines, add pga and eq infomation. Here is the output:
[code]
I need your input on these topic:
- for pipeline without eq or pga, the output is `eq=;`, should we add some string here,  eg, `eq=none;`
- there is no 'both' type pipeline anymore, we can either compose one in bash scri

[2020-02-13 05:38] aiChaoSONG commented on #77
@Bin-QA @xiulipan @fredoh9 give your suggestions and opinions here, thanks.

[2020-02-13 07:17] xiulipan commented on #77
both type should be filtered by up-level wrapper @Bin-QA @aiChaoSONG could you work on this to add this in #10 to avoid regression.

For the eq type thing. maybe we can just do something like if you do not have a comp type that we tracked, give nothing. If you have some, output it.

`pcm=Speakers;id=5;type=playback;pga=PGA7.0;eq=;fmts=S16_LE S24_LE S32_LE;fmt=S16_LE;rate_min=48000;rate_max=48000;c

[2020-02-13 07:56] aiChaoSONG commented on #77
@xiulipan  I am agree with point 2, but for the "both" type in tplgtool, I think we should keep it.  because the playback and capture in one pcm is binded, and this info is coming from the pcm info in tplg pcm section.  we cannot tag such pcm as playback or capture, bacause we do have pcm with both capabilities. and when we meet both type pcm, we seperate playback and capture info as two pipeline.

[2020-02-13 22:26] fredoh9 commented on #77
In my opinion, we need to treat PGA and EQ separately. Printing PGA name by default is OK but can we print eq component when the option is specified? And also for EQ we should expect multiple components. This is sof-apl-eq-pcm512x.tplg's graph.

`PCM0P -> BUF1.0 -> EQIIR1.0 -> BUF1.1 ->EQFIR1.0 -> BUF1.2 -> PGA1.0 -> BUF1.3 -> SSP5.OUT`

[2020-02-14 02:34] aiChaoSONG commented on #77
@fredoh9 don't worry about the eq, it will give you all eq component connected to specified pipeline
[code]

[2020-02-14 08:22] aiChaoSONG opened #79 "[BUG] error when run check-kmod-load-unload-after-playback.sh on helios"
we got an error in lib.sh when run check-kmod-load-unload-after-playback.sh on helios
[code]

[2020-02-15 09:49] aiChaoSONG commented on #79
seems fixed by accident, let leave this open for some days until colse

[2020-02-18 03:29] #79 closed

[2020-02-20 01:41] Bin-QA commented on #77
@xiulipan @aiChaoSONG @keqiaozhang @libinyang @fredoh9 @stripes416 we need to keep case: simultaneous-playback-capture after remove 'both'
Follow my new case: multiple-pause-resume, go though the pipeline combine
so if we modify the multiple-pipeline-capture & multiple-pipeline-playback
They can also go though the pipeline,  so the simultaneous case just a combine in the go though the pipeline
we

[2020-02-21 07:40] xiulipan opened #83 "[bugs][tools]sof-dump-status do not full support BYT/CHT/BDW"
The sof-dump-status.py is not finding the right DSP device for the BYT, CHT and BDW.
Need to use ACPI device for those platforms.

[2020-02-21 08:26] Bin-QA commented on #83
check with source code:  [sof-acpi-dev.c](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/sof-acpi-dev.c#L194)

Catch the keyword, how to deal with the PCI information for 'BYT', 'CHT' and 'BDW'
current template fix for the power status

[2020-02-21 08:37] aiChaoSONG commented on #77
@fredoh9 all the PRs you need to implement EQ test are merged

[2020-02-24 04:31] aiChaoSONG commented on #71
done and close.

[2020-02-24 04:31] #71 closed

[2020-02-25 06:28] xiulipan opened #89 "check-kmod-load-unload-after-playback.sh log naming is confusing."
check-kmod-load-unload-after-playback.sh have pattern like

[code]

[2020-02-25 06:30] xiulipan opened #90 "check-kmod-load-unload-after-playback.sh will have no device error"
Need to wait for the card bind before start to test with
[code]

[2020-02-25 06:30] xiulipan commented on #90
seems we have PR fix for this https://github.com/thesofproject/sof-test/pull/82 @aiChaoSONG

[2020-02-25 06:57] Bin-QA commented on #89
this file create by check-playback.sh

[2020-02-25 07:49] xiulipan opened #91 "[new feature]pulseaudio utils"
To test with both aplay/arecord and paplay/parecord we need to have tools that can:

- [ ] check pulseaudio status
- [ ] switch pulseaudio
- [ ] check UCM status
- [ ] check pcm in-use status

[2020-02-25 07:50] xiulipan commented on #91
@Bin-QA @fredoh9 Let's have some discussion before we have future test with pulaseaudio like https://github.com/thesofproject/sof-test/pull/87

[2020-02-27 03:04] Bin-QA commented on #91
how to sync the software version, it will cause the different behavior of script
current pulseaudio disable function still have some problem
it seems have different behavior on the different machine when I check on the target machine
so here UCM also need update

As automation script need to sync for different behavior and handle it

on the other hand, different issue of linux & different install/

[2020-02-27 19:06] stripes416 commented on #89
@Bin-QA I like the solution youve presented in your branch.

[2020-02-28 01:05] Bin-QA commented on #89
@stripes416 thank you, I forget to create the PR

[2020-02-28 08:54] xiulipan opened #95 "[new feature]tplgtool to output dot file and dot graph"
To generate visible  graph for tplg, we can convert the graph in tplg into dot format. And use dot to create a png graph.

Example sof-apl-pcm512x.tplg.dot file and sof-apl-pcm512x.tplg.png file is attached.
![sof-apl-pcm512x tplg](https://user-images.githubusercontent.com/37825714/75525366-b214aa80-5a4a-11ea-8596-c21d58b39e03.png)
[sof-apl-pcm512x.tplg.dot.txt](https://github.com/thesofproject/so

[2020-02-28 08:55] xiulipan commented on #95
@lgirdwood new issue for a scripts version tool is here.
@aiChaoSONG Here is some example for graph, if we can find some Python lib to direct generate graph like this is also OK. Please help to have some first version with simple dot.

[2020-02-28 10:19] aiChaoSONG commented on #95
@xiulipan @lgirdwood This is a good idea. I will start working on this next week

[2020-02-28 10:56] lgirdwood commented on #95
@aiChaoSONG @xiulipan looks good :-)

[2020-02-28 22:51] fredoh9 commented on #91
@Bin-QA I will check whether we can still test pulseaudio without UCM. Can you check enable/disable pulseaudio function failure? At least that functions should be rock solid to begin with.

[2020-03-02 07:19] aiChaoSONG commented on #95
@lgirdwood @xiulipan PR is here https://github.com/thesofproject/sof-test/pull/96, please give it some try.

[2020-03-02 19:28] stripes416 commented on #77
Once the multiple-pipeline-capture/playback tests get modified, I think we'll be in a better position to answer this question.

[2020-03-02 19:29] stripes416 commented on #83
@xiulipan @Bin-QA can we close this issue now that #84 has been merged?

[2020-03-02 19:30] stripes416 commented on #89
Closing with merge of #94

[2020-03-02 19:30] #89 closed

[2020-03-02 19:34] stripes416 commented on #90
Closing with merge of #82.

[2020-03-02 19:34] #90 closed

[2020-03-03 03:44] stripes416 opened #98 "CML-RVP-HDA consistent check-ipc-flood failure on CML-RVP-HDA"
Most recent failure combo:
Linux sound/for-next: 2948f4a4
SOF master: https://github.com/thesofproject/sof/commit/4f3f93d92992c2b5afa3898d597001ab43f8b9f3

Files:
[check-ipc-flood.sh.txt](https://github.com/thesofproject/sof-test/files/4279088/check-ipc-flood.sh.txt)
[cmd.txt](https://github.com/thesofproject/sof-test/files/4279089/cmd.txt)
[dmesg.txt](https://github.com/thesofproject/sof-test/fil

[2020-03-03 03:46] stripes416 commented on #98
whoops --- opened this in the wrong place. Sorry!

[2020-03-03 03:46] #98 closed

[2020-03-05 03:21] aiChaoSONG commented on #83
close for BYT/CHT/BDW supported

[2020-03-05 03:21] #83 closed

[2020-03-05 03:21] aiChaoSONG commented on #77
close for all done

[2020-03-05 03:21] #77 closed

[2020-03-05 03:45] aiChaoSONG opened #105 "[new feature] pipeline filtering enhancement"
- Currently, we globally block DMIC16k (WOV pipeline) to prevent test failure on this pipeline, but this solution will stop us from writing WOV automation test cases in the future.
- We may need to export pipeline with some specific component, such as "all pipeline with EQ", "playback with PGA", "capture with SRC".
So we need to enhance current pipeline filtering feature.

My thought is:
- retain

[2020-03-05 03:46] aiChaoSONG commented on #105
@xiulipan @Bin-QA @fredoh9 @stripes416 @libinyang @keqiaozhang please leave your comments if you have.

[2020-03-05 04:38] Bin-QA commented on #105
`TPLG_IGNORE_LST` you can reset it for your test-case

the common array, you also can redefine it
`unset` to cleanup bash variable

So I don't think you need to write a new function
on the other hand, you means ignore seems:
 ignore 'pcm:' so this feature already at sof-tplgreader.py
you can give complex parameter to get it

[2020-03-05 04:44] aiChaoSONG commented on #105
@Bin-QA  we can overwrite TPLG_IGNORE_LST, so the ignore part can removed how about the "with part"? is there any way to get all pipeline with EQ?

[2020-03-05 07:16] Bin-QA commented on #105
@aiChaoSONG
[code]

here you can find `filter` design for catch
which pipeline with which filed keyword and content
the code logic is same with `ignore`
so here I think we need to modify the sof-tplgreader to dump the EQ right?
current without output format, it is hard to say how to modify

some interesting usage for sof-tplgreader:
1. simultaneous-playback-capture.sh to remove both,
`for i in $(s

[2020-03-05 09:32] xiulipan opened #106 "test-speaker need dmesg log"
From CI log https://sof-ci.01.org/sofpr/PR2444/build5164/devicetest/BYT_MB_NOCODEC/test-speaker.sh/dmesg.txt

There is no dmesg.txt for test-speaker test. Need to create logs.

[2020-03-07 07:40] xiulipan opened #111 "verify-pcm-list need to dump trace when error happen"
When verify-pcm-list failed, it most likely to be tplg load fail. Need to dump error trace and dma trace.

[2020-03-09 13:02] xiulipan opened #112 "[sof-docs] update sof-test part"
Have a section about sof-test:

- cases
- return values
- tools
- how to develop and take part in

[2020-03-12 02:18] aiChaoSONG commented on #106
fixed by #113, close

[2020-03-12 02:18] #106 closed

[2020-03-12 02:20] aiChaoSONG commented on #37
fixed and close

[2020-03-12 02:20] #37 closed

[2020-03-16 08:36] aiChaoSONG opened #121 "[Impovement] Pulseaudio start to be managed by systemd on Ubuntu 20.04"
Pulseaudio start to be managed by systemd  on Ubuntu2004, Our current scripts to disable/enable pulseaudio will need improvement. set up the issue to track this change.

[2020-03-17 04:13] dengyangchao opened #123 "[BUG][APL][NOCODEC]Test not finished all iterations when test "simultaneous-playback-capture-50.sh""
On APL-UP2-NOCODEC, the **daily stress test** case "simultaneous-playback-capture-50.sh".
test not finished, and the case result is fail.  It also will affect next test because it doesn't kill all pipeline.
http://sof-tcr.sh.intel.com/#/tests/51e33577-e517-40d1-a56d-add888ee0d8d/detail
![image](https://user-images.githubusercontent.com/52945407/76821046-ced12080-6847-11ea-81af-b3470ec80ee2.png)

[2020-03-17 04:16] dengyangchao commented on #123
@fredoh9 @Bin-QA Please take a look at this, i'm not sure if it is a script issue.

[2020-03-17 04:40] Bin-QA commented on #123
@fredoh9 I think from the case log, it seems time is not enough

Here is 1 full cycle:
[code]
But the last cycle is
[code]

Here find lost pipeline 3 and 5

[2020-03-17 10:00] aiChaoSONG opened #124 "[enhancement] Pipeline filter function need to update to support advanced filtering"
Currently, the pipeline filter function in sof-tplgreader.py can only filter pipeline according `type`, this limit its use. sometimes, we may need pipeline contain certain compnents, eg, EQ.

[2020-03-17 10:50] Bin-QA commented on #124
same with #105 ?

[2020-03-17 10:53] Liviali155 opened #125 "[BUG][GLK]Test not finished all iterations when test "check-runtime-pm-status-15.sh""
on GLK & CML Mantis & CFL-S RVP & ICL-U RVP & CML RVP SDW
the daily stress test case "check-runtime-pm-status-15.sh"
test not finished, and the case result is fail. It also will affect next test because it doesn't kill all pipeline,and device can not enter suspend
http://sof-tcr.sh.intel.com/#/tests/7dfcbc5e-7913-42d2-a676-15cd909a6597/detail

<img width="524" alt="Capture" src="https://user-image

[2020-03-18 00:14] Bin-QA commented on #125
same reason with #123
[code]

[2020-03-18 00:42] Bin-QA opened #126 "cleanup and identify test-case log"
with #123 #125 normally it is not refer the sof-test dump information
the root reason is TPLG file have too many pipeline,
so when you catch the case log,  the test case is not run finished

here need the way to help quickly identify it is not run finish cause this problem

I have those idea, please help me to confirm which is better:

1. add special char to let cycle more clean up like:
<br>"----

[2020-03-18 01:18] #124 closed

[2020-03-18 02:02] aiChaoSONG commented on #126
I vote on "===== Text (index/count) end =====",  Here is the reason: we can only see the colored text in the terminal, if log is stored, we lost the color.
If we have some way to retain the color, of course, we should do this with colors, but seems so so so hard.

[2020-03-18 02:27] ClarexZhou opened #127 "Need one regression case for linux#1762: Ensure system won't hang when sof isn't load successfully."
Need one case to ensure system not hang when sof isn't load successfully.
Eg.
boot up with sof successfully ->remove firmware file then do system suspend resume
or
remove firmware file first->do system reboot and system suspend and resume.
or
with firmware file, but remove tplg file to check

[2020-03-18 02:29] ClarexZhou commented on #127
will this case be added by test scripts or manually cases?
Because as i remembered,  there is situations "system hang on unit side, but still works by ssh"

[2020-03-18 08:07] Bin-QA commented on #127
@ClarexZhou can you add the manual test-case for this issue
as the automation step, I think it need to many thing to check it

[2020-03-18 12:35] paulstelian97 commented on #126
Why can't both be done? Use colors whenever there is a terminal and ASCII highlighting using "=====" and similar all the time?

[2020-03-19 00:47] Bin-QA commented on #126
@paulstelian97 thank you for your advice, that is the good idea

[2020-03-19 03:47] ClarexZhou commented on #127
Manual test-case is created in https://github.com/thesofproject/sof-test/pull/131

[2020-03-19 04:49] YvonneYang2 opened #132 "[BUG]Option "-l" cannot be changed in check_capture and check_playback script."
Run with command "/home/ubuntu/sof-test/test-case/check-capture.sh -F -d 100 -f **-l 1** -o /home/ubuntu/sof-test/logs/check-capture/last/wavs -r 1 -t sof-cml-rt711-rt1308-mono-rt715.tplg ", but script still run with 3 loops not one loop.

![Screenshot from 2020-03-19 00-31-02](https://user-images.githubusercontent.com/50347470/77032622-d6c3c880-69df-11ea-988a-bb8a928d19a9.png)

[2020-03-20 02:44] Liviali155 opened #138 "[BUG][CML]Test not finished all iterations when test "multiple-pause-resume-25.sh""
on  CML Mantis
the daily stress test case  "multiple-pause-resume-25.sh"
test not finished, and the case result is fail. I am not sure if the device has no response or the script error
http://sof-tcr.sh.intel.com/#/tests/0e52af57-0b99-4306-9b62-d139c78eb45a/detail
<img width="669" alt="Capture" src="https://user-images.githubusercontent.com/56707932/77131685-7f812f00-6a97-11ea-84b4-7e2ba2f8f4cf.PN

[2020-03-20 07:43] aiChaoSONG commented on #123
Maybe enlarge the time for timeout? @fredoh9

[2020-03-20 10:49] Liviali155 opened #142 "BUG][CML-SDW]kmod load/unload script need to change"
on  CML RVP SDW
the daily base test  case "Check kmod load/unload" failed,because Module snd_soc_hdac_hdmi is in use by: snd_soc_sof_sdw when remove
http://sof-tcr.sh.intel.com/#/tests/4579f985-3d33-4db0-856a-c250a9c7fefe/detail

<img width="380" alt="Capture" src="https://user-images.githubusercontent.com/56707932/77156932-5d110500-6adb-11ea-9ac4-99576d4011fc.PNG">
need to change the script to re

[2020-03-20 15:25] wenqingfu opened #143 "check-sof-logger need update"
https://sof-ci.01.org/sofpr/PR2586/build5392/devicetest/ICL_RVP_HDA/check-sof-logger.sh/check-sof-logger.sh.txt

new printout from https://github.com/thesofproject/sof/pull/2586 will fool the test case with

[code]

apparently, sof-logger isn't working in this case, check-sof-logger should return fail.

[2020-03-23 01:22] aiChaoSONG commented on #142
https://github.com/thesofproject/sof-test/pull/139 will fix this, and it's waiting Pierre's review

[2020-03-23 01:26] aiChaoSONG opened #144 "[BUG] check-pause-release-suspend-resume.sh need rename"
check-pause-release-suspend-resume.sh, the name of the script did not describe the case accurately, should renamed to check-pause-suspend-resume-release.sh

[2020-03-23 02:39] xiulipan commented on #143
From thesofproject/sof#2586

output file by default

So we could not use output to check if logger is working. We should only use return status.

@aiChaoSONG It would be simple fix for this issue.

[2020-03-23 02:43] aiChaoSONG commented on #143
@xiulipan check sof-logger return status is not work, either. because some times, sof-logger not return immediately, didn't figure out why, may because of '-t' option or dsp is suspended?

[2020-03-23 02:51] aiChaoSONG commented on #143
I got two solutions here:
- increase minimum file size for compare,  `if [[ $size -lt 100 ]];`
- grep "Error" from generated file.  sof-logger use "Error", Firmware log use "error"
@xiulipan @Bin-QA

[2020-03-23 02:56] Bin-QA commented on #143
here refer the other problem:
if `sof-logger` couldn't dump the information,
so when case refer aplay/arecord will coudln't catch the error/success information
[func_lib_start_log_collect](https://github.com/thesofproject/sof-test/blob/master/case-lib/lib.sh#L46)

it not just for this case
so if this case is 'failed'
refer `aplay/arecord` just use dmesg is enough to trace

[2020-03-23 03:01] Bin-QA commented on #143
`grep -i error $tmp_file` after dump, I think this is good for me

[2020-03-23 03:03] wenqingfu commented on #143
+1

[2020-03-23 03:23] xiulipan commented on #143
@aiChaoSONG @Bin-QA Let wait for the fix PR and do a new prod tag today. This would be false positive for all our case now.

This would be a good idea to avoid empty dump. Let try to discuss more about it.

[2020-03-23 05:12] sinahuang opened #146 "[BUG][TGL-U]kmod load/unload script need to change"
on TGL-U SDW
Run test case "Check kmod load/unload" failed,because Module snd_soc_rl6231 is in use by: snd_soc_rt1308.
[code]
need to change the script to remove snd_soc_rt1308 before remove snd_soc_rl6231

[2020-03-23 09:50] aiChaoSONG commented on #143
the fix https://github.com/thesofproject/sof-test/pull/145 is now merged, close this

[2020-03-23 09:50] #143 closed

[2020-03-23 10:05] aiChaoSONG commented on #132
Please do not use -F and -f together,  -F will iterate all supported formats, while -f only use the first supported format

[2020-03-23 10:14] aiChaoSONG commented on #111
finished by Bin, close

[2020-03-23 10:14] #111 closed

[2020-03-23 10:24] YvonneYang2 commented on #132
Tested it with latest master commit:78e300f, issue is gone. Close it.

[2020-03-23 10:24] #132 closed

[2020-03-24 01:10] RanderWang commented on #146
yes,  snd_soc_rt1308 is used by 1308 in I2S mode

[2020-03-25 03:13] Liviali155 commented on #142
Fixed closed

[2020-03-25 03:13] #142 closed

[2020-03-25 03:26] #144 closed

[2020-03-26 01:51] aiChaoSONG commented on #146
@sinahuang Please help to check #152 fix this.

[2020-03-26 04:50] sinahuang commented on #146
Issue can't be reproduced with PR #152

[2020-03-26 09:34] #146 closed

[2020-03-30 02:24] aiChaoSONG commented on #121
close for now, when we switch to Ubuntu 2004, if need reopen later.

[2020-03-31 02:20] ClarexZhou commented on #127
close for PR #131 is merged

[2020-03-31 02:20] #127 closed

[2020-04-01 01:20] keqiaozhang commented on #125
This issue is fixed by MR: https://gitlab.devtools.intel.com/sof-ci/sof-framework/merge_requests/52.
@Liviali155  Please help to double confirm the test result in CI daily test.

[2020-04-01 01:50] keqiaozhang commented on #138
This issue is not related to the timeout. timeout is set as 900s, but this case only run 475s. So maybe other reasons cased this issue.
@Bin-QA  Please have a check.

[2020-04-01 04:11] Liviali155 commented on #125
This issue was fixed on latest CI daily test，details check https://docs.google.com/spreadsheets/d/1NzGUBaCbknSXF8SO-D7oSPJEeU0LFuprmGB4DsNXyWU/edit#gid=230578105，closed it

[2020-04-01 04:11] #125 closed

[2020-04-02 10:09] Liviali155 opened #163 "Check-kmod-load-unload-after-playback: 25x can not run"
On GLK
“line 67: ./check-playback.sh: No such file or directory" when run  ./check-kmod-load-unload-after-playback.sh -l 15
<img width="486" alt="Capture" src="https://user-images.githubusercontent.com/56707932/78236744-0361ff00-750d-11ea-8d53-d7ecefe2c00f.PNG">

[2020-04-02 10:11] Liviali155 commented on #163
bi-sect result: caused by commit https://github.com/thesofproject/sof-test/commit/e0fae0a4cda8c3077b19300313c86de2dba16947,@Wu, BinX  please check it

[2020-04-03 01:24] Bin-QA commented on #163
This issue refer the working directory change, it happen at './' this execute mode
I will fix it and remove all 'cd' command for the case-lib

[2020-04-03 03:27] aiChaoSONG commented on #163
fix merged, close

[2020-04-03 03:27] #163 closed

[2020-04-03 09:40] lgirdwood opened #167 "Trace test is reporting incorrect test results."
The trace test is to test that the trace output is working. i.e. that DMA trace has valid trace data.

The trace test currently parses the trace data for "error" and reports any "error" strings found as a test fail. This is wrong. This test must not parse the trace log for "error" as it reporting failed trace functionality due to "error" strings in the trace output.

Parsing for "error" is valid f

[2020-04-03 09:48] aiChaoSONG commented on #167
There is already a fix https://github.com/thesofproject/sof-test/pull/161

[2020-04-07 03:07] aiChaoSONG commented on #105
https://github.com/thesofproject/sof-test/pull/129 is merged, task is done

[2020-04-07 03:07] #105 closed

[2020-04-07 06:12] Bin-QA commented on #138
from log:
[code]
mapping script:
[code]
so here block logic is not work, I will check more information for it,
normally it also means the pidof expect is delay to start
maybe stress test cause cpu delay

Current I modify the logic of delay to fix it

[2020-04-07 06:12] xiulipan opened #168 "[discussion] runtime pm status check may need update"
From https://github.com/thesofproject/linux/pull/1841 @ranj063 mentioned that we should not get unsupported from acpi devices.

We may need to change the check logic for
https://github.com/thesofproject/sof-test/blob/master/test-case/check-runtime-pm-status.sh#L58-L59

[2020-04-07 06:15] xiulipan commented on #168
@ranj063 Please update your finding here

[2020-04-07 06:30] Bin-QA commented on #168
So we need to mark 'acpi' direct to 'unsupported' ?
https://github.com/thesofproject/sof-test/blob/master/tools/sof-dump-status.py#L21

[2020-04-07 06:33] Bin-QA commented on #112
- [x]  return values at [README](https://github.com/thesofproject/sof-test/blob/master/README.md#test-case-result)

[2020-04-07 07:03] Bin-QA commented on #47
@xiulipan close issue ??

[2020-04-07 09:17] xiulipan commented on #168
@Bin-QA Let wait the update from @ranj063, she will check if we wrongly use the pm_status on ACPI device with the change of https://github.com/thesofproject/linux/pull/1841

[2020-04-07 19:19] ranj063 commented on #168
@xiulipan it looks like the module /driver status is inconsistent so instead of "/sys/module/snd_sof_acpi/drivers/platform:sof-audio-acpi/80860F28\:01/power/runtime_status"
we should use: "/sys/bus/acpi/devices/80860F28\:01/power/runtime_status".

On my system, both with and without this PR, the module runtime_status is always "suspended" whereas the device runtime_status is "unsupported"

[2020-04-08 03:30] xiulipan opened #173 "[new case] check dynamic debug logs"
With update from https://github.com/thesofproject/linux/pull/1980, we will have dynamic debug feature.
Need a new test case for it.

Example for /etc/modprobe.d/sof-dyndgb.conf is here
https://github.com/thesofproject/linux/pull/1980/commits/bcf28058ef97264a774ec8dc4a3a48bc0a7193da

We need to compare there is indeed difference w/o /etc/modprobe.d/sof-dyndgb.conf

[2020-04-08 03:50] aiChaoSONG commented on #95
this is done, close

[2020-04-08 03:50] #95 closed

[2020-04-08 09:44] Bin-QA opened #175 "[BUG]verify-sof-firmware-load.sh as sub-case meet kernel log file is empty"
1. target file: /var/log/kern.log is empty, sof-kernel-dump.sh will report bash error  (refer sof-kernel-dump.sh and sof-get-kernel-line.sh)
2. verify-sof-firmware as sub-test to reset `DMESG_LOG_START_LINE`, which will be empty

the original case define use as system boot up to check firmware status, but as sub-case this behavior have the problem

solution:
when verify-sof-firmware load as sub-ca

[2020-04-08 09:47] aiChaoSONG commented on #175
issue is found from https://sof-ci.01.org/linuxpr/PR1897/build3515/devicetest/   CML_RVP_HDA

[2020-04-08 09:59] aiChaoSONG commented on #168
@xiulipan In my opinion,  as we only have three legacy platforms, and later platforms all support runtime PM, so mark ACPI platforms directly to unsupported saves a bunch of time and effort.  We don't need so scalable here.

[2020-04-08 16:58] fredoh9 opened #177 "EQ test need to support capture pass and IIR or FIR single filter processing"
Playback EQ with IIR + FIR is only tested so far.

Capture EQ also supported, GLK DMIC sof-glk-eq-da7219.tplg. This has only IIR filter. This is new requirement which wasn't the case when the testcase is transferred from sofcitest. Need to grep EQ pipeline and get IIR/FIR, apply proper filter coef to only available filter. Topology util support this already. func_pipeline_export $tplg "eq:any"

An

[2020-04-09 07:12] Bin-QA commented on #175
patch merged, close issue

[2020-04-09 07:12] #175 closed

[2020-04-13 12:01] ClarexZhou opened #184 "[Bug]check-suspend-resume.sh test failed with non sof issue Call Trace in dmesg"
** Description**
Call Trace in dmesg during system suspend and resume. But not sof related. And sof functions still works. But case still failed.
[dmesg_calltrace.txt](https://github.com/thesofproject/sof-test/files/4469391/dmesg_calltrace.txt)

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/

[2020-04-13 12:24] ClarexZhou opened #185 "[bug] sof-dump-status.py not work on EHL"
**Description**
sof-dump-status.py not work on EHL
[code]
**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev, commit 4b4681e
    * SOF: https://github.com/thesofproject/sof/releases/tag/v1.5-rc1, commit: 5f7d4e2, using sof-tgl.ri rename to sof-ehl.ri
2) N

[2020-04-13 12:28] ClarexZhou opened #186 "[Bug] kmod reload scripts need update for EHL"
**Description**
module reload scripts need update for EHL

Need
remove_module snd_soc_rt5660
remove_module snd_soc_ehl_rt5660
And
insert_module snd_soc_rt5660

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev, commit 4b4681e
    * SOF: https://github.co

[2020-04-14 05:02] ClarexZhou opened #188 "Need one parameter to specify pipeline for playback/capture and pause/resume scripts"
**Description**
Will always go through all pipelines for playback/capture,and pause/resume scrips.
Need to specify pipeline ID, and fallback to go through all pipelines w/o this parameter.

[2020-04-15 19:35] fredoh9 opened #191 "file system detect for setup default debugfs for ipc flood test"
When multiclient architecture changes are merged, https://github.com/thesofproject/linux/pull/1841, defugfs root for
ipc flood test is changed to /sys/kernel/debug/ipc-flood-test.`x`/, where `x` is unique id. debugfs
entries under the root are remained same.

As of today(PR1841 is moving target), this is the changed location.
[code]

Debugfs file system detect might be required while this pr is ge

[2020-04-16 01:20] #186 closed

[2020-04-16 02:33] Bin-QA commented on #191
How about use `find /sys/kernel/debug/ -name ipc_flood_count` to catch `ipc_flood_count` file ?

[2020-04-20 02:46] Bin-QA commented on #188
Update for change of source code:
https://github.com/thesofproject/linux/commits/topic/sof-dev/sound/soc/sof/sof-pci-dev.c

[2020-04-20 02:58] Bin-QA commented on #184
call trace refer code: https://github.com/thesofproject/sof-test/blob/master/tools/sof-kernel-log-check.sh#L25

@xiulipan @aiChaoSONG
need ignore call trace or it is kernel build problem

[2020-04-20 21:03] ranj063 commented on #168
@xiulipan can we please fix this asap?

[2020-04-21 02:25] Bin-QA commented on #168
Patch already merged

[2020-04-21 02:25] #168 closed

[2020-04-21 17:45] fredoh9 opened #201 "shellcheck: double quotation is required on func_opt_parse_option $*"
There are a few common shellcheck issues across the test cases.
[code]

this is a comment from @marc-hb in https://github.com/thesofproject/sof-test/pull/194
If we need to fix this, we need to apply to all.

[2020-04-21 21:40] fredoh9 commented on #191
Yes, that will work too. But it might hit multiple locations also. (see above description) So take first one should be same as current test.

[2020-04-24 07:33] ClarexZhou commented on #188
verified with PR#189, -S id:0  or -S id:1,6,0 can works for playback, capture and pause reaume scripts.

[2020-04-24 07:33] #188 closed

[2020-04-24 07:41] aiChaoSONG commented on #201
done a overall cleanup on $* in https://github.com/thesofproject/sof-test/pull/207

[2020-04-26 02:17] aiChaoSONG commented on #184
@Bin-QA how about grep "snd" from error? if call trace is not related to ALSA, we should get nothing.

[2020-04-26 05:01] Bin-QA commented on #184
@aiChaoSONG We just handle 'Call Trace', so your suggestion seems couldn't ignore this error

[2020-04-26 05:07] aiChaoSONG commented on #184
@Bin-QA call trace related to alsa should contain 'snd' keyword, because every alsa function started wtith 'snd'.

[2020-04-26 05:48] Bin-QA commented on #184
So like this? `eval $cmd|grep 'Call Trace' -A5 -B3|grep snd`

[2020-04-26 06:39] #201 closed

[2020-04-26 06:48] aiChaoSONG commented on #184
@Bin-QA See my patch here: https://github.com/thesofproject/sof-test/pull/208.  if call trace is not from alsa, we still output error message, but don't fail the test case.

[2020-04-27 00:14] marc-hb commented on #167
Can someone copy an example?

Parsing should always be avoided when possible. I'm not familiar with this test suite yet but in general searching for kernel errors can be done with just one line:
[code]
and for warnings:
[code]

[2020-04-27 01:38] aiChaoSONG commented on #184
@ClarexZhou @Bin-QA This call trace is sure related to sound, see `Modules linked in...` line.
[code]
close for not valid issue

[2020-04-27 01:38] #184 closed

[2020-04-27 01:42] aiChaoSONG commented on #167
This issue is already fixed, we are not detecting error from firmware log anymore.
@marc-hb sorry for misleading you here. the firmware log is not in dmesg, it is extract by sof-logger.

[2020-04-27 01:42] #167 closed

[2020-04-28 08:54] Liviali155 opened #212 "[bug][apl]Can not catch sof error trace in etrace.txt when CI run failed"
On APL PCM512
Case "simultaneous-playback-capture-50.sh" and "multiple-pause-resume-25.sh" failed,but there is no any error message in etrace.txt,
When checked in slogger.txt,found sof error trace

Need add "-t" in command when catch sof error trace

details as http://sof-tcr.sh.intel.com/#/tests/7b0db036-2515-454f-bad8-721902a70af1/detail
               http://sof-tcr.sh.intel.com/#/tests/dc4297e

[2020-04-29 02:59] Bin-QA commented on #212
@Liviali155 it is kernel refer bug, so sof-logger is no error to output

[2020-04-29 03:02] Bin-QA commented on #212
@Liviali155 find 'error' in slogger.txt file

[2020-04-29 03:05] Liviali155 commented on #212
Yes,there is error trace in  slogger.txt,the issue is no error trace in etrace.txt,seems can  not catch the error trace separately

[2020-04-29 05:33] aiChaoSONG commented on #212
@Liviali155  With `sof-logger -l some.ldc -t`  you get slogger.txt, and with  `sof-logger -l some.ldc ` you get etrace.txt. I have checked the link you provide,  there is only header in etrace.txt, that means our commands for log collection run successfully.
Please note that some recoverable ERROR in trace log is not present in error log at all, this is allowed, so this is not a sof-test issue.

[2020-04-29 05:48] aiChaoSONG commented on #212
@Bin-QA @Liviali155 I do find an issue, please see #213, should fix this.

[2020-04-30 02:52] Liviali155 commented on #212
ok,closed

[2020-04-30 02:52] #212 closed

[2020-05-02 17:16] #177 closed

[2020-05-08 03:45] ClarexZhou opened #215 "[bug] Need add DAPM check when checking runtime PM status"
eg.
command: cat /sys/bus/pci/devices/*00.1f.3/mahine-driver-name/DAPM/* | grep "On"
Should no "On" if need enter runtime PM suspend

[2020-05-08 07:20] Bin-QA commented on #215
Current have some issue with `DAPM` folder refer the environment
This change will merge into sof-dump-status.py

here have some simple command:
[code]

[2020-05-08 08:59] Bin-QA commented on #215
Update for new work path:
`cat /sys/kernel/debug/asoc/machine-driver-name/0000\:00\:1f.3/dapm/*`

[2020-05-09 04:02] #126 closed

[2020-05-20 08:02] ClarexZhou opened #225 "[ASRC]Need add ASRC tplg test into automatically test"
ASRC tplg test is added in https://github.com/thesofproject/sof-test/pull/223
And it should be covered by automatically.

@aiChaoSONG @Bin-QA  Could you please help to add this?

[2020-05-22 23:08] plbossart opened #228 "Enable Cyan module load/unload + suspend-resume tests"
https://github.com/thesofproject/linux/pull/2138 adds support for system suspend/resume and module load/unload on Cyan.

Can those tests please be re-enabled?
Thanks!

@ranj063 @keyonjie @cujomalainey FYI

[2020-05-29 15:08] plbossart commented on #228
@xiulipan @keqiaozhang is this a CI issue instead?

[2020-06-04 19:33] plbossart opened #232 "misleading error report of 'no available topology'"
I have an UpExtreme board with SoundWire. headset playback works fine.

sof-test provides very misleading error reports

[code]

WTH is this 'no available topology' error?

@keqiaozhang @marc-hb FYI

[2020-06-04 19:36] plbossart opened #233 "need top-level script to run all test cases in sequence"
in test-case I see 29 shell scripts

I have no desire to type anything and wait for each test to be completed.

can we have a top-level script that calls each of the tests in sequence and provides me with a pass/fail result?

@keqiaozhang @marc-hb FYI

[2020-06-04 19:39] plbossart opened #234 "improve environment checks for sof-logger"
sof-logger is required for the tests, but there's no check that it's installed in the 'right' location. Please improve env-check.sh to make sure all the bits and pieces required for tests are properly installed upfront.

[2020-06-04 19:41] plbossart opened #235 "check-ipc-flood: provide better information on fail"
[code]

what is debug version firmware? can you please provide instructions on what is missing here?

[2020-06-04 19:42] plbossart commented on #234
Edit: there is a check-sof-logger.sh test. Why can't this be called from env-check?

[2020-06-04 19:45] plbossart commented on #232
there is actually a topology check
[code]

but it's just wrong, there is a topology for this device. The requirements are completely unclear here.

[2020-06-04 19:56] plbossart commented on #232
[code]

[2020-06-04 20:06] plbossart opened #237 "remove usage of /etc/rc.local in check-reboot.sh"
There is no reason to change the installed rootfs and muck with distro installation.
Use your own SOF directory.

[2020-06-04 20:08] plbossart opened #238 "stop tests on Ubuntu 18.04"
we need to stop using Ubuntu 18.04 people, it's obsolete now.

[2020-06-04 20:09] plbossart opened #239 "cleanup tools/sof-kernel-log-check.sh"
A third of the file is commented out, please fix and clean-up

[2020-06-04 20:14] plbossart opened #240 "verify-ucm-config.sh: duplicate of alsa-tests/ucm-validator"
In alsa-test, there is an ucm-validator already. Do we need to keep this script or should we switch to the standard mainline test?

[2020-06-04 20:17] plbossart opened #241 "check-alsabat.sh: remove use of plughw"
We want to play and record directly at the hw level, not with any conversions done by alsa-lib.
This is wrong and needs to be fixed, it will hide issues or mask conversions.

[2020-06-04 20:27] plbossart opened #242 "check-pause-release-suspend-resume.sh: need to automate"
There is no reason to run this manually:

[code]

[2020-06-04 22:16] plbossart opened #243 "check-reboot.sh reboots to default, not test kernel"
check-reboot.sh does a basic reboot. That's not good enough for platforms where the grub default is a safe kernel. The test needs to check which kernel grub loaded and reboot into the same kernel with

grub-reboot N
reboot

[2020-06-04 22:25] plbossart opened #244 "sof-dump-status.py: don't hardcode PCI device ID"
You can get the PCI ID by looking at

more /sys/bus/pci/devices/0000\:00\:1f.3/device
0x9dc8

for APL/GPL it's a different value but the same idea.

Never ever duplicate values!

[2020-06-04 22:36] plbossart opened #245 "test-speaker.sh: fix description"
first line doesn't look so good:
[code]

[2020-06-04 22:40] plbossart opened #246 "fix firmware location for open platforms"
For some platforms such as Up2 and Chromebooks, the firmware location is in /lib/firmware/intel/sof/community

see sound/soc/sof/sof-pci-dev.c

[2020-06-04 22:47] plbossart opened #247 "verify-sof-firmware-load.sh does not do what it says"
the script only checks the firmware version in the firmware, it does not test for a successful load and boot.

Either this is called dump-sof-firmware-version.sh or someone adds a true check that the DSP did boot.

[2020-06-04 22:50] plbossart opened #248 "all test scripts need to have a help option"
need to have a --help or -h option to dump the possible usages and syntax, this is required if you want people to use those scripts!

[2020-06-05 00:37] fredoh9 commented on #238
To be clear, you mean we need to use latest 18.04.x LTS, currently 18.04.04 which is supported by 2023 or latest 20.04 LTS?

[2020-06-05 04:52] marc-hb commented on #233
There is already such an internal "test runner" used by sof-ci/jenkins/pr-device-test but it's probably dependent on Jenkins right now. It would be interesting to see if we can isolate the non-Jenkins specific parts and use them outside Jenkins too.

[2020-06-05 17:14] plbossart commented on #238
we need to use 20.04 LTS and will also probably need to use the latest alsa-lib, alsa-ucm-conf and pulseaudio.

[2020-06-05 17:18] plbossart commented on #233
@marc-hb yes my point exactly, we need to stop dependencies on other repos.
This e.g. explains why there is no answer on the issue https://github.com/thesofproject/sof-test/issues/228

Even if we have specific tests for each platform, they need to be part of sof-test and maintained there so that we can truly do unit tests. CI is a framework to run tests, it should not know anything about each test

[2020-06-11 06:48] aiChaoSONG commented on #247
@plbossart Before SOF logs are reduced in the kernel, we use "firmware boot complete" to detect FW load status, but after logs are reduced, this method never works. We have to use proper keyword from dmesg to know FW load status.  Firmware version is sent from FW side with IPC, so it can be used to detect FW load status too.

[2020-06-11 06:54] aiChaoSONG commented on #246
@plbossart This is not a problem now, we uses the same match mechanism as the kernel does to identify community boards and product boards, and then use different FW folder. see `sof-dump-status.py line 437`

[2020-06-11 07:05] aiChaoSONG commented on #232
@plbossart Please provide topology name/path  with -t parameter, or you can set TPLG env to point to your topology.  sof-get-default-tplg.sh get default tplg by filtering journal, for FW/tplg load failure condition, it doesn't work. BTW, there may be more than one topology file in /lib/firmware/intel/sof-tplg, that's why we need user to specify topology.

@Bin-QA can we put the get-default-tplg lo

[2020-06-11 07:06] aiChaoSONG commented on #248
@plbossart all test cases should have -h parameter, please try.

[2020-06-11 07:17] Bin-QA commented on #232
I can do this, but here also will cause the problem: how to identify default TPLG file is correct TPLG
so here provide the `sof-get-default-tplg.sh` script for query the TPLG file

for the test-script without reference, couldn't know the TPLG file load by kernel is correct

So we decide to make this option as the parameter or env without for check it as the correct value

[2020-06-16 02:09] ClarexZhou opened #256 "[bug] Need add timed for actual playback and recording lengths, e.g. aplay/arecord 10s should take min 10s and max 11s.?"
Check details in https://github.com/thesofproject/linux/issues/1876#issuecomment-603092945

Also it is the application behavior that record with 48KHz will record 3 times length.

[2020-06-16 07:54] lgirdwood commented on #256
10s of Playbcak/capture using "-d" will take exactly 10secs (+plus negible overhed for opening & closing the device)

[2020-06-16 08:25] dbaluta commented on #256
@lgirdwood i wonder exactly how "negligible" is the overhead at open.

Besides opening the devices (if device is runtime suspended) then we will also load and boot the firmware.

[2020-06-16 08:51] lgirdwood commented on #256
@dbaluta a few hundrred msecs at most, but the test could pre-open the device first (to keep DSP in D0)  to cancel out any loading overhead. The ideal solution is to do the timing check in aplay.

[2020-06-16 09:28] libinyang commented on #256
You can use the command `time` to check the real/user/sys time, e.g. `time aplay -Dhw:0 xxx`
For the issue https://github.com/thesofproject/linux/issues/1876, I guess maybe the sample rate 16KHz is not supported when playback. You can use `aplay -Dplughw:0 ` to check the length.

[2020-06-16 10:00] lgirdwood commented on #256
@libinyang cmd line does not rule out device setup time, measring from stream start -> end in aplay is correct. Perhaps the aplay -d switch could report if tme taken did not match the time requested. Seems a simple chnage.

[2020-06-16 10:39] libinyang commented on #256
Does Clare want to measure how long the playback takes? For example, she plays 10s wav file, and want to measure whether it really takes 10s to finish the playback? `aplay -d 10` will always take 10s  or so to play the wav file.

[2020-06-17 17:35] plbossart commented on #247
@aiChaoSONG you can get the same logs by adding dynamic debug on the platform, e.g. copy the attached file as /etc/modprobe.d/sof-ddebug.conf
[ddebug.txt](https://github.com/thesofproject/sof-test/files/4794228/ddebug.txt)

[2020-06-23 08:37] sinahuang opened #264 "[TGL][BUG]Module can't load up successfully after doing module unload/load test."
**Describe the bug**
Module can't load up successfully after doing module unload/load test.

**To Reproduce**
1.Boot up system successfully
2. cd sof-test/test-case/
3 Run "./check-kmod-load-unload.sh -l 2" (https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-unload.sh)

**Reproduce rate**
5/5

**Expected result**
Module should load up successfully when doing module loa

[2020-06-24 11:07] ClarexZhou opened #259 "[bug] current capture related scripts command isn't write KWD pipline command"
such as
https://github.com/thesofproject/sof-test/blob/master/test-case/check-capture.sh

only using "arecord -D$dev -r $rate -c $channel -f $fmt_elem -d $duration $file -v -q", this command isn't for kwd pipline.
e.g Dhw:0,7 in sof-hda-generic-4ch-kwd.tplg

[2020-06-24 17:34] fredoh9 commented on #173
@xiulipan This is matter of updating sof-dyndbg.conf for all test devices. What test case is required for this.

Updating /etc/modprobe.d/sof-dyndbg.con will be done when deploying build.

In addition, probably we need to udpate env-check.sh to warn if sof-dyndbg.conf is not available in the system.

[2020-06-24 19:04] plbossart commented on #173
@fredoh9 we should check which logs CI depends on, the file I provided initially was more for developer debug and may contains too many traces.

[2020-06-24 20:18] fredoh9 commented on #173
@plbossart Sure, i will discuss this.
In my understanding CI didn't depends on any debug log, but only error logs. This is more likely to provide more verbose logs for developers. Having said that, your initial version is good to go.

[2020-06-25 18:20] fredoh9 opened #261 "ignore_str to have root cause or known issue description"
There is array of ignoring error message.
https://github.com/thesofproject/sof-test/blob/master/tools/sof-kernel-log-check.sh#L6

This error message was captured but it is known problem. But there is no description why this is safely ignored.
`ignore_str="error: debugfs write failed to idle -16|error: status|iteration [01]"`

@marc-hb added comments, https://github.com/thesofproject/sof-test/pull/

[2020-06-25 21:55] marc-hb commented on #261
I tig blamed the history of that `ignorestr` list:

- The `iteration [01]` exclusion was added by d238c48cf which mentions issue #43
- `error: status` was added by commit 50f6ccf895c5 . It mentions https://github.com/thesofproject/linux/pull/1676
- `debugfs write failed...` was added by initial commit b3b7d8df9c84 which is unfortunately not specific.

@aiChaoSONG could you implement and test this

[2020-06-26 14:55] aiChaoSONG commented on #261
@marc-hb I have no idea why `debugfs write..` is added, it is far before I joined CI, but some error string in ignore_str is deprecated. I will try to clean up and split ignore_str after Dragon Boat Holiday.

[2020-06-28 05:58] ClarexZhou commented on #256
Yes. I want add time for aplay -d 10 to ensure the actual time taken for stream.

@aiChaoSONG @xiulipan  could you help to check on this?

[2020-06-28 06:07] aiChaoSONG commented on #256
@ClarexZhou  I think we already have such case with -d parameter equals 10.  check usage of https://github.com/thesofproject/sof-test/blob/master/test-case/check-playback.sh

[2020-06-28 06:16] ClarexZhou commented on #256
i mean using ```time aplay -d 10``` command with ```time``` to ensure the actual execution time.  To find issue like thesofproject/linux#1876

[2020-06-28 09:04] ClarexZhou commented on #264
close for sof_insert.sh already updated with sudo modprobe snd_soc_rt5682_i2c

[2020-06-28 09:04] #264 closed

[2020-06-28 10:43] aiChaoSONG commented on #259
@ClarexZhou For KWD pipeline, if we run arecord, there will be ipc error, is this fixed now?

[2020-06-29 07:00] aiChaoSONG commented on #261
@Bin-QA Could you please help to find the reason for each ignore_str? though Marc gives some hint, but from the releated commit's message, It's really hard to know the reason, because the message is not clear.

[2020-06-29 08:16] aiChaoSONG commented on #261
WIP PR: https://github.com/thesofproject/sof-test/pull/268

[2020-06-29 08:26] ClarexZhou commented on #259
For KWD pipline, shouldn't use normal arecord command, only work use command with "-M -N", like ``` arecord -Dhw:0,$device_id -M -N -f s24_le -r 16000 -i -vvv -c2 --buffer-size=68000 ./tmp.wav```,  is it able to identify KWD pipline currently?  or should KWD pipline name be changed to some think specific? @xiulipan  Do you have any ideas about this?

[2020-06-29 08:30] aiChaoSONG commented on #259
@ClarexZhou Idea is good, but WHO is going to trigger KWD in CI?

[2020-06-29 19:03] fredoh9 commented on #173
sof-dyndbg.conf will be downloaded to /etc/modprobe.d/ in every deploy of daily/pr build.
I don't think any new test case is required for this. closing this issue.

[2020-06-29 19:03] #173 closed

[2020-06-30 14:22] keyonjie opened #270 "Include KWD test into sof-test"
This is created to track the status of adding automation KWD test into CI. It includes subtasks as below:

1. KWD pipelines/PCMs identify from the topology binary files.

2. Deploy DMIC injector on DUT for automation test via playing typical .wav file onto the injector.

3. Add KWD related test cases.

[2020-06-30 14:31] keyonjie opened #271 "Include Smart_amp test in sof-test"
This is created to track the status of adding automation smart_amp test into CI. It includes subtasks as below:

1. Smart_amp pipelines/PCMs identify from the topology binary files.

2. Fill up gaps in smart_amp component to use no-codec mode to cover as most as possible test scenarios of the real use.

3. Add smart_amp related test cases.

[2020-06-30 14:34] keyonjie opened #272 "Add echo reference test to sof-test"
This is created to track the status of adding automation echo reference test into CI. It includes subtasks as below:

1. Echo reference pipelines/PCMs(different with smart_amp, reference came from firmware internal) identify from the topology binary files.

2. Add echo reference related test cases.

[2020-06-30 14:40] keyonjie opened #273 "Add S0ix test to sof-test"
This is created to track the status of adding automation S0Ix test into CI. It includes subtasks as below:

1. figure out the suitable platforms (e.g. TGL RVP with correct stepping silicon) for S0ix test.
2. figure out the suitable recipe (e.g. the sof topic/sof-dev kernel might be not suitable) for S0ix test.
3. Add S0ix related test cases.

[2020-07-01 02:36] #261 closed

[2020-07-06 05:39] ClarexZhou opened #278 "[bug][Kmod] Need add snd_soc_max98373_sdw in kmod reload"
[code]

[2020-07-08 03:26] #278 closed

[2020-07-09 21:21] plbossart opened #282 "tplgtool.py duplicate links"
This could be a topology or a tool issue, but basically when we use the new baytrail/cherrytrail topologies one can see duplicate arrows after the mixer

![sof-byt-rt5640](https://user-images.githubusercontent.com/1149035/87091880-0d785580-c200-11ea-9704-8a42319fb97b.png)

Topology file included for convenience:
[sof-byt-rt5640.tplg.gz](https://github.com/thesofproject/sof-test/files/4899585/sof-b

[2020-07-13 02:04] ClarexZhou opened #284 "[Bug] verify-pcm-list.sh pcm lists verify failed"
Testing tplg: sof-tgl-max98357a-rt5682.tplg

[code]

[2020-07-13 02:08] ClarexZhou opened #285 "[Bug] Need skip echo reference capture pipline"
Need skip echo reference capture pipline.  Since this pipline only works during max98357a playback has data output.

[code]

[2020-07-13 19:01] plbossart opened #287 "Do not use 'snd-sof-pci' in scripts"
We can't have such scripts, they don't work with snd_sof_acpi !

[code]

[2020-07-13 19:18] fredoh9 commented on #287
For ACPI dev, this is just adding 10 second delay. As we already disabled pulseaudio, we can remove this safely.

[2020-07-13 19:28] fredoh9 commented on #287
I removed above lines, I tested with ICL and BSW which have disabled pulseaudio. As expected, kmod test was working fine. And I can see ICL finishes 2-3 seconds faster, BSW finishes a lot faster.

[2020-07-13 19:32] plbossart opened #288 "Python errors with check-mod-load-unload.sh on CHT device"
[code]

[2020-07-14 09:34] #284 closed

[2020-07-15 14:43] lgirdwood opened #289 "Frequent Device Busy errors"
Seeing lots of device busy failure recently
[code]
but nothing in dmesg or sof-logger to indicate any FW or driver problems.

This is causing a poor SNR with test results.

[2020-07-15 14:44] lgirdwood commented on #289
Could something else in userspace be opening the device in these failures ? Do we check the result of close() on these devices ?

[2020-07-15 14:47] paulstelian97 commented on #289
Are we sure PA isn't causing trouble on Ubuntu 20.04?

[2020-07-16 01:08] aiChaoSONG commented on #289
@lgirdwood @paulstelian97 Pulseaudio will go through pipelines after system start up. Currently, we don't find a good way to disable and enable PA during test, so we remove PA. I am upgrading OS to Ubuntu 20.04 this week, and forget to remove PA after upgrading, that's why we see device busy.  Sorry for the inconvenience, now checked PA on DUTs upgraded, issue should disappear.

[2020-07-16 03:26] #282 closed

[2020-07-16 08:59] lgirdwood commented on #289
@aiChaoSONG thanks, I think there is a global pulseuadio file where you can disable the respawning. i.e. this would allow your scripts to start and stop pulseaudio as needed. Please google for the details.

[2020-07-16 16:40] plbossart commented on #289
/etc/pulse/client.conf
; autospawn = yes
->
autospawn = no

[2020-07-17 02:04] aiChaoSONG commented on #289
I think Wubin has tried the `audospawn` option, seems not work

[2020-07-20 09:13] lgirdwood commented on #289
@Bin-QA @aiChaoSONG please also check systemd config for pulseaudio - it could be respawning. It could also be a gnome setting that's doing this too.

[2020-07-20 10:30] aiChaoSONG commented on #289
@lgirdwood We tried a lot of ways to deal with pulseaudio, but in vain. And now we temporarily remove PA at every deployment to avoid failures brought by PA. @marc-hb is trying to find a good way to disable/enable PA during test.  Before he comes up with a solution, we will keeps the PA removal solution.
BTW, you shouldn't see this issue any more, because PA is 100% percent removed.

[2020-07-20 13:20] kv2019i opened #291 "Add test for no-i915 configurations"
SOF driver now supports configurations where the HDMI/DP audio via integrated graphics (i915) is disabled. No separate driver or topology is needed to make this work. However, currently the SOF CI is not testing this configuration and we've had multiple regresssions and bugs that only occur in this configuration. Some examples:

- https://github.com/thesofproject/linux/pull/2287
- https://github.c

[2020-07-20 21:51] fredoh9 opened #292 "Kernel error scanning with journalctl"
Marc suggested to switch to journalctl while reviewing https://github.com/thesofproject/sof-test/pull/290

Current we grep for negative keywords, if it hit any then return error. These are current keywords for error.
[code]
Later we should drop such "screen scraping" and use something more robust like `journalctl --dmesg --priority err` with no false positive (for instance a debug message with one

[2020-07-20 22:37] fredoh9 commented on #292
PR is already available.
https://github.com/thesofproject/sof-test/pull/262

[2020-07-21 02:36] aiChaoSONG commented on #288
@plbossart We don't have CHT device with us, Do you know someone have this device and share with us? then we can have a look.

[2020-07-21 13:43] #289 closed

[2020-07-21 20:23] plbossart commented on #288
I can't share the device, so it's going to be interesting to debug. My Python skills are rusty, but can't we add some range checks on parameters here?

[2020-07-23 05:06] mengdonglin commented on #291
@plbossart  @xiulipan and @RanderWang aligned on how to support this configuration in SOF CI. It seems we cannot support this in sof-test, but in CI test framework.

[2020-07-23 08:51] keyonjie commented on #270
#1 is done by Chao.
#2 injector connection to TGL RVP is done by Keqiao, typical .wav file is under investigation.
Xiuli is working on adding KWD pipelines to sof-tgl-nocodec.m4, after that we can implement #3.

[2020-07-23 12:33] plbossart commented on #291
@mengdonglin can you elaborate? I don't get at all the explanations.

[2020-07-24 10:53] lgirdwood opened #294 "Missing FW logs on CI failures"
I'm seeing some recent CI failures where sof-logger and error logs are empty. Not sure if this is FW issue or CI issue atm.

Please see the failure messages here.
https://sof-ci.01.org/sofpr/PR3214/build6680/devicetest/

[2020-07-27 03:02] xiulipan commented on #291
@plbossart I think @mengdonglin would like us to add some fail case in CI. Platform with non-i915 support will be one of this kind of test

[2020-07-27 21:55] marc-hb commented on #289
We de-prioritized this. If some pulseaudio testing is needed in the mean time it will be performed on other devices dedicated to pulseaudio.

[2020-07-28 15:32] plbossart opened #297 "Check for a valid trace for ALL tests"
We need to double-check that the trace is functional and that sof-logger reports at least the firmware details and a dai trigger.

If there is no trace then there's no point in checking results and debugging further.

cc:
- #1075
- https://github.com/thesofproject/sof/pull/7955
- #1075
- https://github.com/thesofproject/sof-test/pull/1084

+ many others, follow the links.

[2020-07-29 05:52] xiulipan opened #298 "check-sof-logger need to report fail is no valid log shows"
From latest test result. logger on legacy platform is not working but the test result of check-sof-logger still show pass. Need to fix the issue in check-sof-logger

[code]

[2020-07-30 14:19] juimonen commented on #289
At least in Ubuntu I needed to do this (in addition with above mentioned config file changes, could work without them also)

stop:
systemctl --user stop pulseaudio.socket && systemctl --user stop pulseaudio.service

start:
systemctl --user start pulseaudio.socket && systemctl --user start pulseaudio.service

[2020-07-30 17:26] plbossart opened #301 "Control uses of rand() in test scripts"
The test scripts use random number generator to e.g. change the sleep times.

This is wonderful for stress tests, but a really bad idea for CI and daily tests, since by definition these tests cannot be reproduced UNLESS the seed is known.

We should add one option to tests that use random numbers, so that by default we shall use the same seed - 42
https://en.wikipedia.org/wiki/Phrases_from_The_Hit

[2020-07-30 19:18] plbossart commented on #294
@lgirdwood fixed by reverting recent scheduling changes: https://github.com/thesofproject/sof/pull/3245

Of course it's a terrible fix but at least this restores the trace functionality. See issues #296 and #297 added to check the presence of a trace.

Now that the kernel CI is all green, we need a PR to re-check @jajanusz 's work and figure out why it broke the trace.

[2020-07-30 19:37] plbossart opened #302 "Harden module load/unload tests"
We've made a lot of progress with kmod/sof_insert.sh and kmod/sof_remove.sh checks.

This is not enough I am afraid. Some components allocate resources in the component probe but don't release it, so do modprobe -r snd-sof-pci; modprobe snd-sof-pci can fail or result in memory leaks.

We need to have a more difficult test which just loops on modprobe -r snd-sof-pci/acpi; modprobe snd-sof-pci and m

[2020-07-31 00:08] mengdonglin commented on #298
Same requirement as https://github.com/thesofproject/sof-test/issues/297

[2020-07-31 01:16] marc-hb commented on #301
As suggested by @xiulipan : the best option is a command flag that lets the caller choose between constant seed versus random seed.

My suggestions:
- The test should always print the seed used in any case so it can be re-used.
- clearly label CI results using a random seed, e.g. "stress test" not to surprise users.

[2020-07-31 08:03] xiulipan commented on #301
thanks @marc-hb for the suggestion. I will take them with the new feature implement.
Another feature:

- use a parameter to accept seed, used for reproduce issue from stress test

[2020-07-31 14:25] lyakh opened #304 "rtcwake error during suspend / resume tests"
Sometimes suspend-resume tests fail with an rtcwake error:
[code]
This shouldn't be considered an SOF failure. A retry might help.

[2020-07-31 16:47] lyakh opened #305 "check-suspend-resume.sh should verify, that SOF is running"
During a daily test one of kernel module loading and unloading scripts left SOF unloaded. After that check-suspend-resume.sh ran and reported success, because the system was able to suspend and resume with no errors, even though SOF wasn't even present. The script should check that SOF is active before beginning the process.

[2020-07-31 16:49] marc-hb commented on #305
P1 because any "green failure" (false negative without the double negation) should be P1

[2020-07-31 16:54] marc-hb commented on #301
Yes that's what I meant by "... so it can be re-used". Rephrasing the previous comment.

[2020-07-31 19:28] plbossart commented on #305
There is a dmesg trace 'probe complete' that can be used.

	dev_dbg(dev, "Completing SOF PCI probe");

I just added the same for ACPI, that should help detect that the driver loaded ok. https://github.com/thesofproject/linux/pull/2338
In addition the script can check for the presence of a card, there can be cases where SOF probes but the card is not registered, and the error is squelched by the dr

[2020-07-31 21:37] plbossart opened #306 "improve environment check"
it's not clear where things need to be installed, and the environment check should  look for sof-logger and ldc files.

[code]

[code]

[2020-07-31 21:44] plbossart opened #307 "filter out irrelevant iwlwifi errors"
test-speaker.sh gives this:

[code]

[2020-07-31 21:48] plbossart opened #308 "TPLG file not well handled"
unclear to me why some tests fail because of topology:

[code]

so some scripts seem functional and others not so much.

@bardliao does this work for you on SoundWire devices?

[2020-08-03 05:57] lyakh commented on #305
@plbossart I think there's a problem with that too. I've seen at least one test in CI where the test sequence was started when the system has already been running for some time, so, the kernel message buffer has already discarded SOF probing messages. You can see such cases when some of the first few tests fail. Can we not use some /proc or /sys or /dev or aplay -l test instead?

[2020-08-03 06:43] marc-hb commented on #305
We're working on replacing `dmesg` with `journalctl [ --boot ] [ --dmesg ] [ etc.]`

[2020-08-03 08:06] mwasko commented on #294
@plbossart the revert has nothing to do with the problem fix. The issue just didn't reproduce on next CI run. I have consulted this with @zrombel and the reason why sporadically there is no logs in CI failed tests it is because the specific test was not run at all (network connectivity issue).

We are working now to improve our CI to either re-run the test in such situation or at least to correctl

[2020-08-03 17:55] plbossart commented on #305
Goodness. I hope the test devices reboot and only do a modprobe snd-soc-pci when the tests are actually enabled? In other words we don't want to probe the drivers at boot, otherwise yes the logs might have been erased for an odd reason.

[2020-08-04 06:18] aiChaoSONG opened #312 "[sof-test] add set -e to all test cases"
add set -e to all of our test case for better error handling.

[2020-08-04 11:26] mwasko commented on #294
Apparently we have two separate issues related to missing logs, one specific to BYT CI tests that was resolved by the revert done @plbossart and second issue related to FW CI where there is no logs in case when test was not executed due to connectivity error: https://sof-ci.01.org/sof-pr-viewer/#/build/PR3245/build5301944

[2020-08-04 19:13] marc-hb commented on #312
This should be done very gradually on a test by test basis, starting of course with all new test cases like #296

[2020-08-07 00:47] mengdonglin commented on #308
@aiChaoSONG Please update README to input the the topology file as a parameter

[2020-08-07 01:02] marc-hb commented on #308
I think a `usage()` function invoked by `./run-all-tests.sh h` is  better because it's inside the code so less likely to become out of date.

There can also be a warning when TPLG is already defined in the environment

However I don't understand why some tests passed and  others failed, I would have expected them to all pass or all fail?

[2020-08-07 05:40] xiulipan opened #321 "check-sof-logger need to check error trace"
Add check to error trace to make sure error trace is working.

Depends on https://github.com/thesofproject/sof/issues/3281

[2020-08-07 15:27] lyakh opened #324 "multiple-pipeline-{capture,playback}.sh are broken"
The multiple-pipeline-playback.sh and multiple-pipeline-capture.sh scripts are broken, they do nothing. They check `$PIPELINE_COUNT` before parsing topology by calling `func_pipeline_export`

[2020-08-07 16:37] #308 closed

[2020-08-11 06:08] #271 closed

[2020-08-11 21:12] plbossart opened #329 "Don't use default period-size and buffer-size"
We need to control better what the period and buffer sizes are in all sof-tests.

aplay and arecord can be configured with --period-time=5000 and --buffer-time=10000 for e.g 2 periods of 5ms.

It would be good enough to have an environment variable for each value, so that we can configure the tests at will, and even set stricter values for specific tests.

[2020-08-11 23:54] plbossart opened #330 "verify-firmware-test fails on BSW/Cyan"
I don't get how this is even possible, this device has been in CI for ages, this happens with b59371be4389fef47a9fa04c6b9c25892b614c2a

All other tests seem to work fine.

[code]

[2020-08-12 00:11] plbossart opened #331 "add option to limit run-all-tests.sh to CI tests"
run-all-tests.sh takes nearly 1.5 hours on my SoundWire device. It's fine for daily tests, not great for a quick check before sending a PR.

Can we add an option and split the test cases in what is used by CI, and what is used by daily tests?

@marc-hb will tell me we need a 'test runner' but all I care about for now is something that reproduces CI and daily tests, as is.

[2020-08-12 00:14] plbossart opened #332 "Add some tests with S24_LE and S32_LE"
It seems that the tests only rely on S16_LE, which is only a small part of the supported formats.
Let's add S24 and S32_LE tests for playback.
For capture this might be the opposite, IIRC the DMICs can only support S32_LE.

[2020-08-12 00:57] marc-hb commented on #331
I have a local commit that reduces the duration to 5-7 minutes on my Up2. It does that by merely changing the --loop, --count and --round parameters. @bardliao can you explain how you chose the default values?

Having two sets of tests if also something I've done locally, I can easily combine the two and make that a command line option and submit it but I need to know what are these two exact subs

[2020-08-12 01:14] plbossart opened #333 "run-all-tests.sh: better filter results and keep complete log."
on SoundWire device

[code]

The first 4 are reported as N/A, so shouldn't be FAIL but listed as N/A.

It's unclear why the kmod-load-unload case is not successful. We would really need all results pushed on the screen to be stored in a file, so that we can review all results. At the moment only individual test logs are saved, but not the terminal stderr/stdout output.

[2020-08-12 07:54] bardliao commented on #331
No, the script is from our QA folks and I don't know who is the author.

[2020-08-12 18:45] ranj063 opened #335 "Add widget DAPM power status check test"
Add a new test to check the widget DAPM power status before/during/after audio activity.
To start with just capturing the parts of the DAPM graph showing which widgets are ON/OFF would be very useful to debug PM issues. Something similar to this:
![widget](https://user-images.githubusercontent.com/7766921/90054837-425d4980-dc91-11ea-8f04-312f1eb18230.png)

[2020-08-12 19:19] plbossart commented on #333
After double-checking the kmod-load-unload are related to PulseAudio (AGAIN!)

[code]

All other errors are tests that are N/A on the SoundWire CML-U platform.

[2020-08-12 19:41] plbossart commented on #324
@lyakh do you mean to say that this line is wrong?

[code]

I must say I have zero understanding of these scripts.

[2020-08-13 22:30] fredoh9 opened #340 "Ignore firmware loading failure if retrial is successful"
FW load may fail at any time, we have up to 3 time retrials. If FW loading file fails, below errors cause test case failure.

[code]
We can ignore, but I'm afraid status and panic codes are NOT specific enough.

- "0000:00:1f.3: error: status = 0x00000000 panic = 0x00000000"
- "0000:00:1f.3: error: extended rom status:0x6000010"

Logically we should check iteration, `Attempting iteration 1 of Core

[2020-08-14 00:04] plbossart commented on #307
Another one!
[code]

[2020-08-17 18:42] fredoh9 opened #343 "Ignore iwlwifi, thermal errors on Dell laptop"
Need to filter out non audio errors in Dell laptop.

[code]

[2020-08-17 20:44] fredoh9 commented on #340
Found same problem in check-runtime-pm-status.sh with ICL_RVP_HDA at [sof-daily-report] 2020-08-17 linux/for-next + master by SOF-CI.

[2020-08-18 02:34] #285 closed

[2020-08-20 09:51] mengdonglin commented on #272
It's done.

[2020-08-20 09:51] #272 closed

[2020-08-24 02:44] aiChaoSONG commented on #332
test cases for playback and capture with S24_LE and S32_LE are added to PR test. The format(s) used to playback/capture are extracted from PCM capabilities, so we can test capture, too.

[2020-08-24 21:47] fredoh9 opened #348 "Ignore GLK da7219 i2c SRM failed to lock error"
https://github.com/thesofproject/sof/pull/3296 found a failure.

https://sof-ci.01.org/sofpr/PR3296/build6981/devicetest/

[code]

[2020-08-24 22:17] fredoh9 commented on #343
@plbossart
For better filtering, I need sof-test logs for this, fail/errors in booting doesn't fail the test cases. Especially I need testing logs with

- check-runtime-pm-status.sh
- check-kmod-load-unload.sh

Or let me allow SSH into the device once.

[2020-08-25 01:47] fredoh9 commented on #340
Pierre submit a PR to reduce verbosity of boot error logs. He said a couple remaining.
https://github.com/thesofproject/linux/pull/2382

[2020-08-25 17:58] #348 closed

[2020-08-25 18:26] plbossart commented on #343
@fredoh9 the errors were copy/pasted from the sof-test logs. This is on a Dell CML-U w/ SoundWire which is NOT in CI for far.

[2020-08-26 09:08] lyakh opened #351 "kmod-load-unload shouldn't exit with modules unloaded"
If an error is detected when unloading kernel modules (see e.g. https://github.com/thesofproject/linux/issues/2334) the check-kmod-load-unload.sh script exits immediately with modules unloaded, so no further testing is possible. If a proposed policy is implemented where the tested system is rebooted after a failure, this would be fixed. Otherwise an attempt should be made to re-load the modules af

[2020-08-26 20:32] plbossart opened #353 "Need to check playback duration"
maybe I am missing something but I don't see a check that e.g. a 2s file is played in 2s.
I saw a case where playback was happening at 2x speed because of a borked firmware, and nothing was reported.

[2020-08-27 18:53] plbossart opened #379 "[BYT][NOCODEC] alsa-bat check-alsabat-headset-playback.sh FAIL"
tracking https://sof-ci.01.org/linuxpr/PR2396/build4392/devicetest/

No idea why this happens. Our 'all green' status for CI devices lasted only a couple of hours.
@lgirdwood @lyakh FYI, not sure if anything changed at the firmware level?

[2020-08-27 21:27] marc-hb commented on #343
The iwlwifi are warnings, not errors. We should really stop screen-scraping logs and use error levels some day.

[2020-08-27 21:47] plbossart commented on #343
maybe, but this is real today.

[code]

[2020-08-27 22:08] plbossart commented on #343
Actually @marc-hb you're right the filters are broken.

We get an error on ICL RVP (and others) just because we will detect 'panic' in the following trace

[code]

we really only want to track errors, then look for such keywords.
Meh.

[2020-08-27 22:15] plbossart commented on #343
Can someone please explain to me what on earth this script is supposed to do

[code]

[2020-08-28 00:25] marc-hb commented on #343
Agreed, happy to merge #343 except for the parentheses `( )` concern.

The "begin_line" logic separates logs from consecutive runs.

`journalctl -p warning --since=...` for two reasons:
- no ring buffer exhaustion issue
- user space errors matter too

See initial attempts in PR #262. Bin-QA moved on but I believe @fredoh9 has been resuming this (he's on vacation now)

[2020-08-28 02:46] aiChaoSONG commented on #343
@plbossart I saw your patch https://github.com/thesofproject/sof-test/pull/354, I guess you already figured out what it does.
- Before running a test case, record log point of /var/log/kern.log with `func_lib_setup_kernel_last_line`
- After running the test case, collect log from the recorded log point with `sof-kernel-log-check.sh "$KERNEL_LAST_LINE"`

[2020-08-28 02:54] plbossart commented on #343
Yes, but this is not so good. We need to use a *timestamp*, that way we can filter with whatever level we want. Using the raw line number is a major limitation.

[2020-08-28 05:22] aiChaoSONG commented on #332
close for check-playback-all-formats and check-capture-all-formats are added

[2020-08-28 05:22] #332 closed

[2020-08-28 09:24] xiulipan commented on #353
@plbossart Is it OK we try some test case like
`time aplay -Dhw:0,0 -f dat /dev/zero -d 2`
And measure the measured time with the played time

[2020-08-28 09:25] xiulipan commented on #340
Have an update to our filter to our update https://github.com/thesofproject/sof-test/pull/355

[2020-08-28 09:30] xiulipan commented on #333
@plbossart It seems we need some refine for the `run-all-tests.sh` for this requirement.

[2020-08-28 20:25] plbossart commented on #353
yes, exactly. You may want to use 10s so that the initial setup (which can take 200-300ms) does not impact the results too much, and place an error threshold at 5% of the expected duration.

[2020-09-01 07:15] aiChaoSONG commented on #335
@ranj063 we have tools to check DAPM status, `sof-test/tools/sof-dump-status.py -d all/on/off/standby`. One thing I am not sure is how can we know caes pass/fail by DAPM status? Currently, we can only dump these info, may be only widgets with "on" status. Is is OK for you?

[2020-09-01 13:36] lyakh commented on #324
@plbossart it isn't about the contents of that line, it's about when it is executed, respectively when the `$PIPELINE_COUNT` variable is evaluated. Evaluating it before it is set makes no sense and it is only set in `func_pipeline_export()`

[2020-09-02 00:12] mengdonglin commented on #270
The test case is done. So close this issue here.

[2020-09-02 00:12] #270 closed

[2020-09-02 00:13] mengdonglin commented on #270
sof-hda-generic-kwd.m4 enabled WoV test in RVP with HD-Audio codecs.

[2020-09-02 02:42] aiChaoSONG commented on #238
As all CI device are upgrade to 20.04, close this issue

[2020-09-02 02:42] #238 closed

[2020-09-02 02:44] aiChaoSONG commented on #47
Old and deprecated issue, not reproduced any more.

[2020-09-02 02:44] #47 closed

[2020-09-02 02:45] aiChaoSONG commented on #123
Old and deprecated issue, not reproduced in daily test, close

[2020-09-02 02:45] #123 closed

[2020-09-02 02:47] aiChaoSONG commented on #36
Not an issue, and no response. If we really need to align bash style, let's do it in a meeting.

[2020-09-02 02:47] #36 closed

[2020-09-02 07:53] aiChaoSONG commented on #228
@plbossart I tried kmod test on one CI cyan device, it cannot pass the 15 iterations' kmod test, I am not sure if we can really enable the case for cyan.
Error message:
[code]

[2020-09-02 08:16] aiChaoSONG commented on #233
close for we have run-all-tests.sh

[2020-09-02 08:26] aiChaoSONG commented on #241
@keqiaozhang I think the plughw in alsabat playback is required, because the USB card cannot support all formats and sample rates, but do you think we can remove plughw from alsabat capture?

[2020-09-02 08:27] aiChaoSONG commented on #246
close for issue already fixed.

[2020-09-02 08:28] aiChaoSONG commented on #248
close for we do have -h option for every test case, please try that.

[2020-09-02 08:28] #246 closed

[2020-09-02 08:29] #248 closed

[2020-09-02 16:07] plbossart commented on #228
we've already disabled this test, there's a CoreBoot issue.

[2020-09-02 16:07] #228 closed

[2020-09-02 16:08] plbossart commented on #233
reopening: run-all-test.sh does NOT do the same thing as automated tests. We want the same behavior as what is done in CI.

[2020-09-02 16:10] plbossart commented on #241
sorry I don't get the point @aiChaoSONG.

What I meant was that all access to the SOF device should be with hw:

[2020-09-02 17:33] marc-hb commented on #228
@plbossart is the coreboot issue filed somewhere?

[2020-09-02 18:13] marc-hb commented on #233
For instance, CI could switch to (a very futuristic version of) `run-all-tests.sh`, that would address this issue. Just one possible solution, there are other ways to get there.

To be fair @plbossart the current description doesn't even mention CI at all, CI is mentioned only later in the comments. Would you mind editing the description to clarify the (much bigger) scope of this github issue?

[2020-09-02 19:06] plbossart commented on #228
The Google team knows about it, yes. There was a dependency on this bug https://chromium-review.googlesource.com/c/chromiumos/third_party/coreboot/+/2300765 before a CoreBoot update can be provided. I'll ping Duncan Laurie again.

[2020-09-02 22:18] marc-hb commented on #228
It's a pull request but thanks anyway: any reference in the record is infinitely better than nothing.

[2020-09-03 01:05] marc-hb commented on #289
Or this?
[code]
`man journalctl`

[2020-09-03 02:11] keqiaozhang commented on #241
@plbossart , I agree with you, adding plughw is not a wise choice. The reason we use plughw is that the USB sound card only support 1 channel capture and for nocodec mode, we don't use USB sound card for capture, we use the passthrough pipeline directly and it supports 2 channels capture.  To unify the channel count,  we decided to use this workaround.
I believe there're still have some other reas

[2020-09-04 15:17] marc-hb commented on #343
#354 was abandoned by @plbossart , I'm "rescuing" the filters part of it in #362 , please review.

[2020-09-07 02:37] #232 closed

[2020-09-08 23:49] marc-hb commented on #351
In https://github.com/thesofproject/linux/issues/2334 @plbossart suggested we try multiple times and count the number of errors.

I looked at the code it should be doable but please first please help review the simple shellcheck cleanup in #368

[2020-09-09 03:18] xiulipan opened #370 "[TEST] unit test for our lib"
From https://github.com/thesofproject/sof-test/pull/369 and https://github.com/thesofproject/sof-test/pull/367
I see we may need to have some unit test for our lib.

If we do not cover all the fail cases in our lib, the test case may get into exception or give false success or false fail.

[2020-09-09 03:57] marc-hb commented on #370
I don't think we need unit tests for "sudo". When sudo fails many tests fail with very obvious error messages, that's how I found #367 and #369. The reason no one found #367 and #369 earlier is because too few people use sof-test and that's what we've been working on: making sof-test more robust and user-friendly so more people use it more often.

[2020-09-09 14:27] marc-hb commented on #340
@fredoh9  did you see this outside ICL? If not maybe #3395 is a duplicate and we can close this one (#3395 has more information)

[2020-09-11 00:00] marc-hb commented on #297
First part submitted in #373, please help review.

[2020-09-14 05:39] RanderWang opened #374 "i915 0000:00:02.0: [drm] ERROR TC cold [un]block failed in check-suspend-resume.sh"
suspend-resume test was failed by these error

[code]

[2020-09-15 05:19] marc-hb commented on #297
From @xiulipan :

[2020-09-15 05:33] marc-hb commented on #297
I think what you're asking is: "is the logger a low priority feature"? I read the description of this request as a pretty clear "no" but I'd like to hear more from others.

It's risky to rely on a single test, if it's broken then the feature can be broken and no one will notice.  Even if the test is not broken, the logger could be broken only in some scenarios not tested by the logger test. I thin

[2020-09-15 09:05] xiulipan commented on #297
@marc-hb What I want to make clarify about is the **criterion** for our test case pass/fail.
Should we make aplay test fail if a debug feature is not working?

I do not think we are adding test cases in this way. Each test case in this repo is focusing in a single feature. This will help us to narrow down the issue.

[2020-09-15 14:19] marc-hb commented on #297
This is :
- neither possible because sof-test are not unit tests. They all run from user space so each test involves many lines of code
- nor desirable unless you want to find fewer bugs - as it happened in the links above and elsewhere.

[2020-09-18 02:11] marc-hb opened #385 "[BUG] sof-logger resisted pkill -INT, using -KILL"
https://github.com/thesofproject/sof-test/pull/373 was merged because https://sof-ci.01.org/softestpr/PR373/build182/devicetest was all green. However almost all tests were failing because the sof-logger resisted kill -INT. To make it worse I misused `exit_status=2` which has the special meaning Not Applicable which means no error and everything is green.

[2020-09-18 02:51] marc-hb commented on #297
They didn't pass, they only appear to pass because I misused `exit_failure=2` in #373 where 2 means "Not Applicable" and Not Applicable is green. I didn't know 2 was a special value.

Now we have one: pretty much all tests involving the logger fail to kill -INT it at the end, see new bug https://github.com/thesofproject/sof/issues/3433 [`BUG] sof-logger resisted pkill -INT, using -KILL`

[2020-09-18 03:29] marc-hb commented on #297
multipipeline tests returning an empty trace: https://github.com/thesofproject/sof-test/pull/380#issuecomment-694626882

[2020-09-18 05:31] marc-hb commented on #297
`multiple-pipeline-capture.sh` and `multiple-pipeline-playback.sh` have a consistently empty trace on about half the platforms: https://sof-ci.01.org/softestpr/PR383/build194/devicetest/

[code]

@aiChaoSONG  does this seem related to your #359 PR?

[2020-09-18 05:40] aiChaoSONG commented on #297
@marc-hb Yes, they are related. without #359, these two case are actually testing nothing, and always pass. It is the sof-logger issue  who makes the multiple-pipeline-playback/capture failed after your  https://github.com/thesofproject/sof-test/pull/373 patch

[2020-09-18 19:33] plbossart opened #384 "sof-logger issue w/ check-alsabat-headset-playback.sh for BYT_MB_NOCODEC"
https://sof-ci.01.org/linuxpr/PR2452/build4513/devicetest/

check-alsabat-headset-playback.sh for BYT_MB_NOCODEC

[code]
@fredoh9 @aiChaoSONG @marc-hb does this ring a bell?

[2020-09-18 19:42] marc-hb commented on #384
The error message and failed results are new because I've been busy "hardening" logger-related things per your request in #297 (and #298 )

The actual bug could be much, much older - we just don't know.

[2020-09-18 19:46] marc-hb commented on #384
Spending  more time looking at the logs, this test did NOT fail because the logger failed. It failed because alsabat returned -1003 (which may have caused the logger to fail)

[2020-09-18 20:55] plbossart commented on #384
Why should this:

[code]

have anything to do with alsabat errors?

[2020-09-18 21:22] marc-hb commented on #384
It all depends why alsabat failed in the first place, do we have any idea about that yet?

Why would tracing keep humming when something unexpected and unknown failed in the system? It may or it may not. It's not exactly like tracing has been stress-tested and "hardened" to handle any bad situation gracefully. As you noted yourself in #297 we lost it on some platforms for a couple months yet no on

[2020-09-18 22:36] plbossart commented on #384
alsa-bat looks at data recorded from a PCM device, and compares it with what it played.
There is no dependency at all on sof-logger.
In fact, alsa-bat doesn't know what sof-logger is, it would work with a USB card as well.

I maintain that the sof-logger error is not related to alsa-bat. Maybe it's not an sof-test issue and an SOF one, I don't know. But it's clearly not alsa-bat's fault.

[2020-09-18 23:15] fredoh9 commented on #384
For nocodec mode, pcm loopback is enabled by quirk. In this mode, in case loopback to usb card shows vert sensitive but loopback in nocodec shows less sensitive(in fact this is ideal closed loop).

I checked output wavefile, frequence response is a bit different. I checked failure rate on nocodec device, it is very low.(it should). I saw latest DEVICE_TEST result is PASS. This is not device proble

[2020-09-19 19:39] marc-hb commented on #384
Another instance of the alsabat failure on BYT_MB_NOCODEC
https://sof-ci.01.org/sofpr/PR3436/build7232/devicetest/

Any idea why we saw it only on BYT_MB_NOCODEC in sofpr?

I'm not saying it is. I'm saying they could both fail for a common reason that we don't know yet.

[2020-09-19 20:55] marc-hb commented on #384
Spending more time and this and looks like we were both correct:
- The logger error is only the consequence of another failure
- The logger error is not related to the alsa-bat failure because...
- ... it is the consequence of _any_ failure! Including any alsa-bat failure.
- It's not a problem with a logger itself, it's a sof-test script issue (what a surprise)

Fixed in #386, please review. "Unfo

[2020-09-21 08:43] aiChaoSONG opened #389 "[CML] ignore non-audio failure caused by mei_me module"
In the test of topic/sof-dev + stable-v1.6, we observed a false failure caused by mei_me module: `[ 6965.377054] mei_me 0000:00:16.4: hw_reset failed ret = -62`, this message should be filter out.

[code]

The daily test report id is 457

[2020-09-22 14:18] mengdonglin commented on #331
@marc-hb Are you working on this feature?

[2020-09-22 14:27] mengdonglin opened #396 "Ignore i2c_hid i2c-DELL0955:00 error on Dell CML laptop"
Please over unrelative error of i2c_hid i2c-DELL0955:00.

Fake failure observed in testing with SOF v.16 FW and linux-stable-5.8.10 kernel:
[code]

[2020-09-22 14:29] plbossart commented on #288
@bardliao @aiChaoSONG I also get this on a TGL device w/ SoundWire SDCA

[code]

I think it comes from the Power Status that doesn't exist:
[code]

[2020-09-22 15:56] plbossart commented on #288
I can get the scripts to work with the following diff

[code]

@aiChaoSONG I think the parsing of the lspci output doesn't work here, the leading 0000 are not removed when parsing and need to be removed from the string.

[2020-09-22 17:53] marc-hb commented on #331
I have not been working on it but I've been thinking about it. What is needed here is a configurable test runner and we should try to re-use an existing one for a change instead of re-inventing one; this is a very standard concept.

After a quick search I found https://github.com/bats-core/bats-core and it looks like it would work and support test selection but I'm not sure it would be convenient

[2020-09-23 02:48] aiChaoSONG commented on #389
In daily report 473, similar issue is observed on ICL_RVP_HDA and CML_RVP_SDW, `[ 6733.766202] mei_me 0000:00:16.0: hw_reset failed ret = -62`, but with a different ID.

[2020-09-23 03:05] aiChaoSONG commented on #324
@lyakh This is fixed by https://github.com/thesofproject/sof-test/pull/380, thanks.  let's close this

[2020-09-23 03:05] #324 closed

[2020-09-23 03:22] aiChaoSONG commented on #288
@plbossart I think the output from below code is an empty string, that's why you don't see the python index error and you get `Power Info:  `
`exit_code, output=subprocess.getstatusoutput("cat /sys/bus/pci/devices/%s/power/runtime_status" % (pci_info['pci_id']))`

I may need your help to:
- print the pci_info['pci_id']
-  run the command: `ls /sys/bus/pci/devices/` on your CHT device

[2020-09-23 15:08] plbossart commented on #288
@aiChaoSONG The pci issue was on a TGL device and @bardliao should be able to help on the same time zone

[2020-09-24 02:12] bardliao commented on #288
@plbossart @aiChaoSONG ./check-kmod-load-unload.sh works fine on my TGL+SDCA platform.
See [check-kmod-load-unload_output.txt](https://github.com/thesofproject/sof-test/files/5273011/check-kmod-load-unload_output.txt)
But if I add print(self.pci_lst) as below
[code]
It will fail with
[code]

[2020-09-24 05:10] marc-hb commented on #312
I think there is still a fair number of tests without `set -e`.

[2020-09-24 06:45] xiulipan opened #402 "help function have wrong exit code."
When we want to check the help info for the test cases, we can see ERROR handling below.

Need to avoid such output for help info.

[code]

[2020-09-24 06:46] #138 closed

[2020-09-24 06:47] xiulipan commented on #225
@aiChaoSONG Is this feature added? Please add update here.

[2020-09-24 06:49] aiChaoSONG commented on #225
@xiulipan The topology parser can filter out pipeline with ASRC, but there is not a case

[2020-09-24 06:49] xiulipan commented on #234
@aiChaoSONG @marc-hb any update, I think this feature is almost done along side with lst file check. Please confirm.

[2020-09-24 06:51] xiulipan commented on #235
@plbossart I think the debug version firmware is what it is means. A FW with debug feature enabled.
https://github.com/thesofproject/sof/blob/1d6887f93dc1a29a18cccfeeeee87ac1210b98bd/Kconfig#L166-L170

[2020-09-24 06:51] #235 closed

[2020-09-24 06:53] xiulipan commented on #237
Update the header, @plbossart Do you mean we should add some own file in `/etc/rc0.d/`

[2020-09-24 06:55] xiulipan commented on #225
@aiChaoSONG OK, I add new label new test case here.

[2020-09-24 06:55] #239 closed

[2020-09-24 06:56] xiulipan commented on #240
@libinyang Please help to answer this question.

[2020-09-24 06:59] xiulipan commented on #241
@plbossart The plughw here is used because we do not use pulseaudio and we do not know what fmt/channel/rate is supported for our loopback (playback/captur) PCM. So remove plughw is not a option for alsabat test.

[2020-09-24 07:01] xiulipan commented on #242
@plbossart We already have the test case. What you paste here is the manually steps in help string for this test script to help us understand what this case is running.

[2020-09-24 07:01] #242 closed

[2020-09-24 07:24] marc-hb commented on #402
I agree this should be avoided but I think we have many more important problems right now.

If anyone is interested `trap - EXIT` should do it.

[2020-09-24 07:25] keqiaozhang commented on #241
I have submitted a PR https://github.com/thesofproject/sof-test/pull/401 to remove plughw for alsabat test.  we can use tplgreader to get the fmt/channel and rate for playback PCM, but for USB sound card(used to capture the loopback data), it only support S16_LE/1 channel, so I just specified format and channel for USB sound card.

[2020-09-24 07:57] xiulipan commented on #241
@keqiaozhang We also have headset capture test, you can only removed plug from one side.

[2020-09-24 08:01] xiulipan commented on #244
@plbossart I did not see any hardcode PCI device ID. We only used the SOF PCI driver map for the platform name

[2020-09-24 08:01] #244 closed

[2020-09-24 08:02] xiulipan commented on #259
Close as we have KWD test now. We can also filter KWD pipeline.

[2020-09-24 08:02] #259 closed

[2020-09-24 08:03] #287 closed

[2020-09-24 08:04] xiulipan commented on #294
Issue fixed with sof pr https://github.com/thesofproject/sof/pull/3278

[2020-09-24 08:04] #294 closed

[2020-09-24 08:08] xiulipan commented on #306
Working PR https://github.com/thesofproject/sof-test/pull/356

[2020-09-24 08:09] xiulipan commented on #307
Fixed by https://github.com/thesofproject/sof-test/pull/362

[2020-09-24 08:09] #307 closed

[2020-09-24 08:24] mengdonglin opened #403 "Ignore firmware loading failure if retrial is successful (for kernel v5.8)"
CI needs to ignore firmware loading failure if retrial is successful (kernel 5.8 format).

This is the driver error message that caused false failure on ICL RVP in kernel v5.8, different from latest sof-dev:

[code]
And
[code]

[2020-09-24 08:25] mengdonglin commented on #403
@xiulipan Can you help on this issue?

[2020-09-24 17:55] plbossart commented on #237
you already have /etc/sof for the .ldc file, why do you need to add stuff in a non-SOF directory?

[2020-09-27 02:17] #402 closed

[2020-09-28 07:08] aiChaoSONG commented on #340
Close for old filter is added back to our sof-test ignore list.
We have patch to fix this issue on linux-5.9.

[2020-09-28 07:08] #340 closed

[2020-09-28 07:11] aiChaoSONG commented on #403
close for old filter added back,  check changelog of https://github.com/thesofproject/sof-test/blob/master/tools/sof-kernel-log-check.sh

[2020-09-28 07:12] #403 closed

[2020-09-28 08:12] mengdonglin commented on #385
Keep this issue open before we root cause if this is a bug of sof-logger or test case.
- If this is an sof-logger issue, will close this issue and report a bug in SOF repo.
- If this is a test case issue, we will use PR #401 and close this issue.

[2020-09-28 14:43] marc-hb commented on #385
I believe this has been fixed by #382 `hijack.sh: switch first attempt to stop the logger from -INT to -TERM`, closing.

[2020-09-29 09:10] kv2019i commented on #379
More cases, but now reported as TIMEOUTs and not FAILS in CI report:
https://sof-ci.01.org/linuxpr/PR2474/build4586/devicetest/
https://sof-ci.01.org/linuxpr/PR2476/build4589/devicetest/

... with TIMEOUT, there is no wave file to investigate, but alsabat console output looks identical to this bug.

[2020-09-30 13:51] kv2019i opened #407 "check-alsabat-headset-playback.sh fails occasionally for CML_RVP_SDW"
We have occasional failures in this test. The test result is TIMEOUT so the wave output is not shown in failing cases. Logs don't show anything that pops up:

https://sof-ci.01.org/linuxpr/PR2456/build4540/devicetest/
https://sof-ci.01.org/linuxpr/PR2462/build4568/devicetest/
https://sof-ci.01.org/linuxpr/PR2462/build4546/devicetest/

[2020-10-05 15:41] singalsu opened #408 "sof-tplgreader.py -v returns blank after value"
E.g.

[code]

This breaks in shell script simple check for channel count.

[2020-10-05 15:43] singalsu opened #409 "sof-tplgreader.py get value returns additional space character"
E.g.

[code]

This breaks in shell script simple check for channel count.

[2020-10-05 15:44] singalsu commented on #409
Created accidentally a duplicate due to Github error.

[2020-10-05 15:44] #409 closed

[2020-10-08 12:10] singalsu opened #411 "Tools: Tplgtool: Get tokens and values for a component"
It would be useful to have capability to fetch for e.g. PGA instance the tokens. It would prevent need to hard code e.g. volume ramp length in volume test topology and prevent false errors if the length would be changed in topology.

[2020-10-08 16:15] plbossart opened #412 "check-sof-logger fails on CHT device w/ rt5640"
[code]

Clearly it has no idea what the platform is

[code]

[2020-10-08 16:50] plbossart commented on #412
the same script works fine on Chromebook / Cyan, so there's a missing autodetection or something.

[code]

[2020-10-08 16:52] plbossart commented on #412
On Chromebook the PCI ID matches what is supported in scripts

[code]

[2020-10-08 16:57] plbossart commented on #412
I think I know what the issue is.
The Chromebook and MinnowBoard expose HDMI as a PCI HDAudio device.
The majority of platforms do no use HDAudio for HDMI, and instead use the 'lpe' HDMI solution (which has nothing to do with the DSP but still is different from HDaudio)

The point is the scripts SHALL NOT assume the presence of an audio PCI device, this is wrong on Baytrail and Cherrytrail.

[2020-10-08 18:25] fredoh9 opened #413 "verify-sof-firmware-load.sh fails once in a while"
This is an example on GLK but i found this in different platform also.

https://sof-ci.01.org/linuxpr/PR2297/build4635/devicetest/

[code]

Looks SOF version information is there. Not sure what cause this failure.

[2020-10-08 23:09] plbossart opened #415 "verify-firmware-presence: DMI parsing is broken on Google Cyan"
One might assume that all the scripts in sof-test work on the CI devices.
WRONG.

On Google Cyan Chromebook, the DMI parsing is broken

[code]

[code]

[2020-10-08 23:10] plbossart commented on #415
@fredoh9 can you please take a look?

[2020-10-09 20:18] plbossart opened #420 "check_playback tests assume device0 is the SOF card - fails on BYT/CHT"
On CHT device, the SOF card is not the first one:

[code]

as a result, we test the wrong card:

[code]

we should really either test that the SOF card is device0 (which can be done by blacklisting on the test device), or adjust to the right index.

That's a 'green failure' if we test the wrong card...

[2020-10-09 20:22] plbossart commented on #330
duplicate of https://github.com/thesofproject/sof-test/issues/415, more information provided there.

It kills me that such stupid bugs are not fixed in 2 months. Gah.

[2020-10-09 20:22] #330 closed

[2020-10-09 20:39] plbossart opened #421 "[CHT] ./multiple-pause-resume.sh -r 25 fails with IPC error"
Repeatable failure on CHT device

[code]

[code]

Adding this for now as an sof-test issue, but it may very well be a firmware or topology issue

[2020-10-09 21:03] plbossart commented on #421
I can reproduce this failure on a Chromebook Cyan - which contradicts all existing test results. Something is very wrong in our CI setups

kernel: c8849c74912f863edafc69dc2746d63e4fb15d86
firmware: e5d17f3c10f3d170d3aa57460c124cf9cf77a1d2
sof-test: 44da1b31ac03172ce473d96cc0c71a141283caf7

[code]

[2020-10-09 21:29] plbossart commented on #421
Friday afternoon setup issue apparently, I need to stop...

[2020-10-09 21:29] #421 closed

[2020-10-10 08:52] mengdonglin opened #426 "[JSL] suspend-resume with playback/capture test failure with 'rtcwake: /dev/rtc0: unable to find device: Device or resource busy""
Observed by CI since daily test on 2020-09-25 on JSL RVP, test report #479.

[code]

2 failed cases:
check-suspend-resume-with-playback-25.sh
check-suspend-resume-with-capture-25.sh

Test recipe:
Kernel Branch: topic/sof-dev
Kernel Commit: 2d4cea85
SOF Branch: master
SOF Commit: c4aa4c17
OS: Ubuntu 20.04
Platform: JSL_RVP_NOCODEC

[2020-10-10 21:58] marc-hb commented on #374
For now this bug has zero configuration and version information in the description, neither about hardware, firmware or software. Please add some.

There are three different and likely unrelated parts in this log.

The `sof-audio-pci` messages seem harmless and hopefully unrelated.

The `atkbd serio0` can hopefully be ignored. Can you try disabling legacy mouse/legacy keyboard support in the BIOS

[2020-10-11 00:11] marc-hb commented on #374
https://cgit.freedesktop.org/drm/drm/log/?h=05e31dd78e26 looks relevant:
[code]
It believe this is queued for 5.10, not for 5.9.

Again this bug needs more information.

[2020-10-12 04:59] mengdonglin opened #427 ""Cannot find the sof audio version" fake failure in verify-sof-firmware-load.sh in daily test"
The test case failed to find audio version in the log and reported a fake failure:
[code]

This issue is randomly reproduced on JSL, EHL, GLK, BDW since ww32 or even earlier:
* GLK on ww39.1, report ID 454
* JSL_RVP_NOCODEC & BDW_WSB_RT286 on ww37.1, report ID 369
* JSL_RVP_HDA in ww35 after we can start stable daily test on this platform, report ID 316
* GLK/EHL in ww32 report ID 207 and 203

202

[2020-10-12 06:40] mengdonglin commented on #427
This issue can still be reproduced on JSL_RVP_NOCODEC in ww41, test report ID #524 #527.
https://github.com/thesofproject/sof-test/pull/419 has been merged.

[2020-10-12 10:36] kv2019i commented on #374
The bug is indeed missing some critical information (link to example failure, platform used), but these TC DRM errors can be put to ignore list.

[2020-10-12 14:36] #408 closed

[2020-10-13 03:03] aiChaoSONG commented on #420
@plbossart SOFCARD is acquired like this: `SOFCARD=$(grep '\]: sof-[a-z]' /proc/asound/cards|awk '{print $1;}')`  (line 38 in lib.sh), could you please paste the result of `cat /proc/asound/cards` here?

[2020-10-13 05:38] aiChaoSONG commented on #411
@singalsu Below structure is what a PGA component contains, other components may contain different fields,  could you please point out what fields you need, then we can output these fileds: `pga={name=PGA1.0;size=132...}`
[code]

[2020-10-13 06:46] keqiaozhang commented on #407
This issue should be fixed by https://gitlab.devtools.intel.com/sof-ci/sof-framework/-/merge_requests/105.
Will keep this issue open and continue to monitor the results for a while.

[2020-10-13 14:43] plbossart opened #431 "[CHT] suspend-resume fails due to unrelated USB error"
Need to filter this out to pass tests.

[code]

[2020-10-13 14:54] singalsu commented on #411
Nice that you decoding done this far. I think the volume tokens are in the section:

[code]

Tokens 0xfa (SOF_TKN_VOLUME_RAMP_STEP_TYPE) and 0xfb (SOF_TKN_VOLUME_RAMP_STEP_MS) would be interesting for volume.

This is not the same topology but the part in topology .conf part looks like this. The tokens are in pga_conf_N.

[code]

[2020-10-13 15:54] marc-hb commented on #431
Thanks, can you be more specific than "CHT"?

Also: is this a recent kernel regression?

[2020-10-13 15:55] plbossart commented on #420
[code]

I think you guys missed the card renaming that took place after 5.8, the regexp is no longer valid for ACPI devices and the script used the default card0

[code]

the card only starts with sof-[az] for SoundWire and HDAudio-based solutions. Maybe older machine drivers as well.

[code]

Please update the regexp, and test that the value of the card is not empty. thanks!

[2020-10-13 17:19] marc-hb commented on #396
Can you please provide a longer trace? Including some unrelated context before and after: this proves nothing related was ommitted.

If you're not sure please link to some CI test report and I'll try to do it.

[2020-10-13 20:39] marc-hb commented on #379
From https://github.com/thesofproject/sof-test/pull/430#pullrequestreview-507683976

[2020-10-13 21:04] plbossart commented on #379
oh, now that I think of it, I don't know if there's actually a way to control the channel order.

The fsync phase defines which channel is being played/captured, and if we enable the capture at any moment we could very well select the current fsync, which means either right or left get captured first. I don't know if there's a way to enable a capture on a predictable phase?

[2020-10-13 23:58] mengdonglin commented on #431
@RuiqingX can you please fix this issue?

[2020-10-14 00:35] marc-hb commented on #427
#419 was not meant to fix this.

[2020-10-14 00:51] marc-hb commented on #431
PR #432 already submitted

[2020-10-14 04:55] #396 closed

[2020-10-14 06:40] RanderWang commented on #374
it happens on tgl rvp

[2020-10-14 08:10] aiChaoSONG commented on #411
After manually decoding the priv bytes, Now I got a picture what is in the bytes, here is the decoding result.
[code]

[2020-10-14 13:08] singalsu opened #436 "Script check-alsabat.sh fails with capture pipeline with volume scale max above 0 dB"
While checking SOF PR https://github.com/thesofproject/sof/pull/3509 problem in CI I realised that the script fails when volume is set to max (+30 dB).

[code]

The test passes if I set the same PGA to 0 dB

[code]

[2020-10-14 14:28] singalsu commented on #436
I think I can fix this with some initialization code copied from check-volume-levels.sh.

[2020-10-14 15:41] marc-hb commented on #379
New `[BUG] BYT: Random stereo channels swaps happen with sof-byt-nocodec.tplg` https://github.com/thesofproject/sof/issues/3520

[2020-10-14 18:31] marc-hb commented on #374
thanks, the very least needed here is the kernel version.

[2020-10-15 09:08] RanderWang commented on #374
daily test image of everyday recently.  5.9.0-rc7+ or newer

[2020-10-16 06:56] xiulipan opened #441 "check-alsabat-headset-playback.sh TIMEOUT instead of FAIL"
Seen in latest test logs

[code]

https://sof-ci.01.org/linuxpr/PR2501/build4685/devicetest/

While old alsabat test fail logs is

[code]

[2020-10-16 07:00] xiulipan commented on #441
@marc-hb @aiChaoSONG I am thinking this issue is related with latest https://github.com/thesofproject/sof-test/pull/376.
The set -e changed our exception handler for this test case.

[2020-10-16 07:34] #420 closed

[2020-10-16 08:15] aiChaoSONG commented on #234
close for #356 merged.

[2020-10-16 08:15] #234 closed

[2020-10-19 06:44] mengdonglin commented on #427
We plan to use journalctl to fix this issue

[2020-10-19 06:51] mengdonglin commented on #407
@keqiaozhang Can we close this issue now?

[2020-10-19 06:52] mengdonglin commented on #312
@marc-hb @aiChaoSONG @keqiaozhang Is this feature done?

[2020-10-19 06:56] keqiaozhang commented on #407
I think so, this issue is not reproducible for now.

[2020-10-19 06:56] #407 closed

[2020-10-19 06:57] mengdonglin commented on #304
This issue is also tracked by https://github.com/thesofproject/linux/issues/2495. But it's not a test case issue.

[2020-10-19 07:07] #385 closed

[2020-10-19 07:53] aiChaoSONG commented on #306
#356 merged, close

[2020-10-19 07:53] #306 closed

[2020-10-19 08:48] mengdonglin opened #445 "Add test case for Keyword Detection for ADSP in D0i3 and system in S0"
To add an automated case for testing Keyword Detection for ADSP in D0i3 while the system is in S0.

[2020-10-19 17:14] marc-hb commented on #312
No but I'm going to reduce the priority because a good number of tests have `set -e` now.

[2020-10-19 17:51] #245 closed

[2020-10-19 21:14] plbossart opened #449 "add new pause-release test case for mixer pipeline"
https://github.com/thesofproject/sof/issues/3522 shows that our current sof-test fails to detect a conceptual bug with the mixer

Changing the pause times with deterministic values (as asked in https://github.com/thesofproject/sof-test/issues/301) would not help, what we really need is to test the state machine transitions once, before going into the random tests.

This means a test such as

[code

[2020-10-20 01:51] libinyang commented on #312
@marc-hb I found some cases are hard to use `set -e`, such as cases with `grep`. Do you have some good suggestion? My current user space cases met such issue.

[2020-10-20 17:17] fredoh9 opened #451 "New testcase: Probes test is required"
https://github.com/thesofproject/linux/pull/2501 will enable Probe client.
We need a automated test script for Probes. This will be applicable CNL onward platforms.

Probes sof document,
https://github.com/thesofproject/sof-docs/blob/master/developer_guides/debugability/probes/index.rst

[2020-10-21 00:10] #441 closed

[2020-10-21 03:29] xiulipan opened #456 "ext_manifest: add new test cases for extmanifest"
Now ext manifest is enabled and used in FW and Linux driver.
Need some test case to check them.

- memory usage: https://github.com/thesofproject/linux/pull/2459

[2020-10-21 03:31] xiulipan opened #457 "test logger with filter"
sof-logger now support runtime filter, we need to add a test case to cover this feature.

Feature wiki:
https://thesofproject.github.io/latest/developer_guides/debugability/logger/index.html?highlight=logger#trace-filtering

[2020-10-21 03:37] xiulipan commented on #457
@ktrzcinx Please join the discussion of this test case design.

[2020-10-21 03:42] xiulipan commented on #451
Thanks @fredoh9 for report this. With this hint I also add new case issue for extend manifest feature and logger filter feature

[2020-10-21 04:02] xiulipan opened #458 "kmod test failed on some platforms with SST config enabled"
After the SST config https://github.com/thesofproject/kconfig/pull/42 merged
Most kmod test failed https://sof-ci.01.org/linuxpr/PR2511/build4725/devicetest/

`rmmod: ERROR: Module snd_soc_acpi_intel_match is in use by: snd_soc_skl`

[2020-10-21 08:50] kv2019i opened #460 "new test: test for channel swap at stream start/restart"
This is very typical error scenario in any audio system with interfaces with interleaved channels and would be good to have as part of our regular test set. This requires multi-channel loopback in the DUTs, so requires both test case develoment and modifications to the DUT setups.

Past bugs on SOF:
 https://github.com/thesofproject/sof/issues/3520
 https://github.com/thesofproject/sof/issues/3525

[2020-10-21 14:42] #458 closed

[2020-10-21 17:30] marc-hb commented on #458
Here are some (large) CI failures that seem related
https://sof-ci.01.org/softestpr/PR443/build307/devicetest
https://sof-ci.01.org/sofpr/PR3540/build7490/devicetest/
https://sof-ci.01.org/linuxpr/PR2518/build4731/devicetest/

[2020-10-21 23:07] marc-hb commented on #458
https://sof-ci.01.org/sofpr/PR3540/build7493/devicetest/ says

[code]
But the kernel commit f8922c96 does not include the next Linux commit 37740626ab which was merged at  2020-10-21 **02:21** UTC as shown by  `TZ=UTC git log --date=iso-local --format=fuller sof/topic/sof-dev` and the merged time shown in https://github.com/thesofproject/linux/pull/2487

So this SOF PR that ran at 14:10 UTC didn't

[2020-10-22 01:43] marc-hb commented on #458
Newer https://sof-ci.01.org/sofpr/PR3540/build7494/devicetest is mostly OK.

[2020-10-22 02:02] libinyang commented on #240
My understand ucm-validator only checks ucm generally. It won't check the contents is correct or not on a special platform. And verify-ucm-config. sh will check whether the ucm works on the special platform, such as whether the amixer setting can be executed on the platform or not, as well as whether the UCM grammar is correct or not.

[2020-10-22 04:40] xiulipan opened #461 "test scripts usage helper output in wrong format"
When use `-h` option to print out usage, the format is in wrong shape.  Need to fix the output format.

[code]

[2020-10-22 07:27] xiulipan commented on #461
With fix we can get more clean format.

[code]

[2020-10-22 08:37] #461 closed

[2020-10-22 08:41] kv2019i commented on #389
Still happening with CML_RDP_SDW. Made a patch to sof-test:
https://github.com/thesofproject/sof-test/pull/463

[2020-10-22 15:16] plbossart commented on #240
@libinyang ucm-validator will scan all branches of a UCM file and check if all tests are covered and the syntax is correct.

That seems to do most of what you described, and actually you will only test the branches that are taken on a given platform.

[2020-10-22 16:25] plbossart opened #464 "TGL tests broken due to PCI device info parsing."
SKL device:
[code]

TGL device:
[code]

the scripts use this:

[code]

As a result, on TGL the 0000 gets added twice and power info is not provided -> tests don't work.

[2020-10-23 06:36] xiulipan opened #466 "Auxiliary devices in SOF break SOFCARD"
Auxiliary devices in SOF https://github.com/thesofproject/linux/pull/2501 break most SOF TEST https://sof-ci.01.org/sofpr/PR3545/build7503/devicetest/

After some quick check root cause to be SOFCARD
[code]

[2020-10-23 06:38] xiulipan commented on #466
@aiChaoSONG Could you help to have a quick fix for this?
@ranj063 Why there is a new card for the probe? I do not see any new PCM. Will the name be changed? Can we just ignore the card by probe keyword.

[2020-10-23 06:40] xiulipan opened #467 "Auxiliary devices in SOF break check-ipc-flood.sh (IPC3)"
Auxiliary devices in SOF thesofproject/linux#2501 break check-ipc-flood.sh https://sof-ci.01.org/sofpr/PR3545/build7503/devicetest/

quick check find big change in debugfs
[code]
- https://github.com/thesofproject/sof/pull/3545

[2020-10-23 06:41] aiChaoSONG commented on #466
@xiulipan I just want to exclude sof-probes with another grep, but we need @ranj063 to confirm on the name.

[2020-10-23 06:41] xiulipan commented on #467
@ranj063 could you give more info about the change here.

[2020-10-23 06:41] xiulipan commented on #466
@aiChaoSONG Let's wait for @ranj063 confirmation. I see https://github.com/thesofproject/linux/pull/2501 is closed now, maybe it is not the final solution.

[2020-10-23 06:45] xiulipan commented on #464
close via https://github.com/thesofproject/sof-test/pull/465 is merged.

[2020-10-23 06:45] #464 closed

[2020-10-23 11:46] kv2019i commented on #379
One case where BYT alsabat fails with audio produced (no timeout), but the wave file is clipping. Wrong gains in DUT or test setup?
https://sof-ci.01.org/linuxpr/PR2518/build4747/devicetest/

[2020-10-23 17:45] fredoh9 commented on #466
sof-probes card can be any number by probing order. We need to ignore.
2501 is final solution but not going to merge to topic/sof-dev now.  Acillary bus should be upstream first and then this will be merged to our github project. We should be ready with the change.

[2020-10-23 17:51] plbossart commented on #466
Agree with @fredoh9 we need to have sof-test ready (and sof-ci is relevant) for the addition of probes.

Let's not repeat the fiasco I started with the ACPI transition...

[2020-10-23 17:52] fredoh9 commented on #467
debugfs moved to IPC client. And by default we have two IPC test clients.
Easy solution is chaging path to first client, snd_sof_client.ipc_test.0
[code]

And we need to update the test case with multiple IPC clients. We can add new test case for this also.

[code]

[2020-10-23 20:39] ranj063 commented on #466
Im sorry I dont understand what you mean by ignore. We want to test probes as well. If the problem is that we assume that the pcm devices in topology will always be in Card 0, we need to fix that logic.

[2020-10-23 20:40] ranj063 commented on #466
the aux bus stuff is being reviewed upstream and will land sof-dev after it is accepted upstream

[2020-10-24 04:34] marc-hb commented on #413
@fredoh9 is #427 a duplicate of #413? If yes please close this one as #427 has more information.

[2020-10-24 04:39] marc-hb opened #471 "Remove sof-test dependency on topology file, use /proc instead"
From @ranj063

[2020-10-24 04:40] marc-hb commented on #471
From @plbossart

For probes it's actually the only solution since we expose a compressed interface that will never be shown in the topology but will be shown in the card properties (if it's not show it's a bug). The probes are like 'blue wires', they are not set in stone and not shown in the topology.

[2020-10-24 04:48] marc-hb commented on #471
PR #430 has the following code:
[code]
@ranj063 , @plbossart  Is this not actually needed for testing?

BTW `Auxiliary devices in SOF break SOFCARD` #466 seems related.

[2020-10-24 05:34] marc-hb commented on #312
Sorry for the delay, too much email.

For `grep` it's usually as easy as:
[code]
Please provide more details/sample code if this does not seem possible.

[2020-10-26 02:00] aiChaoSONG commented on #471
@marc-hb For SOF test, we have to depend on topology. Because we cannot get the information from proc, eg:
- We can't identify WoV pipeline/Echo Reference pipeline/DSM pipeline from proc, which need special test case for the feature.
- We can't get component parameters from proc, eg: `SOF_TKN_VOLUME_RAMP_STEP_TYPE
 SOF_TKN_VOLUME_RAMP_STEP_MS`

[2020-10-26 02:37] aiChaoSONG commented on #466
@ranj063 Thanks for the confirmation, I can add a grep to ignore the sof-probes now.

[2020-10-26 07:12] aiChaoSONG commented on #460
@kv2019i Currently, we only have USB card with mono capture,  so we can only do SSP Loopback Mode

[2020-10-26 07:17] marc-hb commented on #312
I just added a very long description with rationale, guidelines, workarounds and a good reference.

[2020-10-26 08:18] xiulipan commented on #471
@marc-hb right, you have found the limitation for the proc info. This is the workaround code to provide a fake PCM capability (hw_params) to the PCMs from proc. In TPLG, we can get those info by parse the binary.
When you try to cat the hw_params info from a PCM in proc, you will only get
[code]

Another gaps we have with **proc** info is that we could not get the info about the comps in pipeline

[2020-10-26 08:21] xiulipan commented on #467
@fredoh9 Will the path always be look like this? eg: `snd_sof_client.ipc_test.*/ipc_flood_count`
PS: if we have only one client, what will those debugfs be look like?

[2020-10-26 08:45] mengdonglin opened #472 "multiple-pipeline-capture: Fail to find 4 pipelines still alive, only 3 left"
This is a random issue on multiple platforms.

e.g. on EHL RVP and CML-U notebook Olym* in daily test on 2020-10-25, report ID 613.

[code]

[2020-10-26 09:20] lyakh opened #473 "kmod-load-unload fails to recognise an underlying kernel error"
As described in https://github.com/thesofproject/linux/issues/2535 a kmod-load-unload test failed with "dsp is not suspended after 15s" and it failed to identify the underlying kernel error.

[2020-10-26 17:47] ranj063 commented on #467
Yes. if there's only one then, you'd only see snd_sof_client.ipc_test.0

[2020-10-26 17:55] ranj063 commented on #471
@xiulipan what are we missing for these special comps that we read from topology?

[2020-10-27 00:14] ranj063 commented on #471
@aiChaoSONG wov is always the DMIC16k device. For DSM, the speaker PCM device will have the same name for the feedback pipeline and for echoref, the pipeline is simply called echo. What more info do we need from tplg?

What do we use these for?

[2020-10-27 00:15] ranj063 commented on #471
What do we use these for?

[2020-10-27 02:31] aiChaoSONG commented on #471
@ranj063 I think below useful information cannot be extracted from proc, either.
- rate, channel count and supported formats, need to query with alsa API.
- SOF_TKN_VOLUME_RAMP_STEP_MS: this defines the duration of the volume ramp in a PGA, which is useful in volume test
- PCM/pipeline <-> PGA mapping,

Yes, But the reverse may not be true, right? should we run WoV test on all devices with DMIC16k

[2020-10-27 04:12] xiulipan commented on #471
@ranj063 @aiChaoSONG I think /proc info only is not enough to get similar info as TPLG parser can do.
We may need to use ALSA API to query the info (eg: aplay --dump-hw-params), we can do some experiment later to see if this would work in most case and get correct info for the test.

If above steps can work, TPLG reader can still be kept for PCM info validation test and some audio quality test tha

[2020-10-27 07:38] libinyang commented on #240
Sorry for the delay reply. I studied the ucm-validator and tried to understand it well.

verify-ucm-config.sh will not only checks the syntax, but also will check such typo error "cset "name='wrong kctl name' value". But it seems ucm-validator won't. This can help us to identify such silly issue quickly. If we don't care such issues, I think we can remove verify-ucm-config.sh.

And I'm trying to u

[2020-10-27 12:16] mengdonglin commented on #460
@singalsu Can you please recommend some USB card with stereo capture?

[2020-10-27 16:37] plbossart commented on #471
@xiulipan even for legacy HDaudio it's much better to query the capabilities instead of hard-coding 48kHz as suggested.

That said you are not going to do a volume test or PCM/pipeline->PGA mapping for legacy HDaudio, so we probably need to move to a mode where the topology is only used when absolutely needed, instead of being the source of all information.

[2020-10-27 16:44] plbossart commented on #240
I don't get your point. What does 'wrong kctrl name'? A control that does not exist? A control that is used instead of another one?

	$(DBGCMD) ./ucm.py --level $(V) configs $(ALSA_UCM_DIR) configs $(CONFIGS_FILTER)

You seem to be missing the configs?

[2020-10-28 03:10] libinyang commented on #240
Yes, I mean a control doesn't exist. Sometimes, many boards will share a same config. If we create the config carelessly, we may use a kctl which exists on one board but not exists on another board.

Do you mean the files in the folder "ucm-validator/configs/sof-soundwire/"? I have such configs in the folder.
I find if I run your suggested command or run `make configs` (the two command are doing t

[2020-10-28 07:44] xiulipan commented on #471
@plbossart I think I have made some alignment with @ranj063 @aiChaoSONG to have a feature to read /proc or query from ALSA API to get the correct PCM info. But this will take time to make sure the read out info is trustful and won't break SOF FW before we start the test.

reference to get those info by API:

- https://chromium.googlesource.com/chromiumos/platform/audiotest/+/master/alsa_conformanc

[2020-10-29 09:01] kv2019i opened #477 "CI result pages: make individual results linkable"
In a CI result page like:
https://sof-ci.01.org/linuxpr/PR2524/build4796/devicetest/

Each PASS/FAILURE result now opens a pop-up. This is convenient when browsing the results, but when I need to communicate that one test failed on a specific platform, I don't have a link to copy that would take the reader directly to the failing test+platform. Instead I'll point to the https://sof-ci.01.org/linux

[2020-10-29 10:40] kv2019i commented on #477
Additional problem: At least with Chrome, I can't copy'n'paste the DUT name from the table. So I end up manually copying the failing DUT type from the results to my mail/comment.

[2020-10-29 22:37] plbossart opened #478 "DEBUG_LOCKS_WARN_ON not detected -> PASS status"
in Intel Daily test 627, the verify-kernel-module-load-probe passes for TGL_UNB_SDW12

[code]

However the dmesg contains a big deplock WARN tracked here: https://github.com/thesofproject/linux/issues/2542

The question is: shouldn't sof-test fail this case?

[2020-10-29 23:17] marc-hb commented on #478
In theory `Call Trace` should be caught, see the last lines of `sof-test/tools/sof-kernel-log-check.sh`

[2020-10-29 23:24] marc-hb commented on #478
Wait: this is a boot time error, correct? We don't catch boot time errors. This has been discussed in internal issue 466
[code]

[2020-10-30 16:36] plbossart commented on #478
@marc-hb this happens when the snd-sof-pci driver is probed. This can happen at boot time if there's no blacklist.

If you don't catch such errors at boot time, then the sof-ci framework is broken somehow. If we do NOT detect errors on boot and do NOT prevent probe on boot, then we have a huge gap in our test coverage.

[2020-11-02 06:44] mengdonglin commented on #343
#362 merged, close this issue

[2020-11-02 06:44] #343 closed

[2020-11-02 06:46] aiChaoSONG commented on #477
Xiuli suggest to use anchor to do this.

[2020-11-02 06:49] aiChaoSONG commented on #473
@lyakh before starting test, we will wait DSP to suspend, if you see the `dsp is not suspended after 15s`, that means we have issues.
Previous error may cause the DSP keeps alive.

[2020-11-02 06:50] aiChaoSONG commented on #472
Try to add some debug log, to see which pipeline is dead.

[2020-11-02 08:30] lyakh commented on #473
@aiChaoSONG exactly, an IPC timeout causes

I understand that, but I think, that that should be identified and printed by test scripts. Usually our test scripts do grep dmesg for error messages, so it would be trivial for them and more useful for developers to see the actual error instead of just a timeout entering suspend

[2020-11-02 16:24] plbossart opened #482 "Filter out irrelevant USB 3.1 errors"
Found on one test for suspend/resume on TigerLake device

[code]

we need to filter this out.

[2020-11-02 21:48] plbossart opened #484 "multiple-pipeline-capture: 'error: String printing is not supported' messages"
[code]

to reproduce on GLK Bobba

[code]

[2020-11-02 22:04] plbossart commented on #484
this seems to be a firmware issue impacting sof-logger.

[code]

[2020-11-02 22:14] plbossart commented on #484
And this seems to be a 'feature' of SOF tools/logger/convert.c commit 5b0b1a3db505ad5e98b15c830b96a432cec48c78 ('logger: Skip %s from formatting string')

The questions is: why are we supposed to do with this? @ktrzcinx any idea where this comes from? Is this a bad formatting in the firmware?

[2020-11-02 22:51] plbossart commented on #484
never mind, yet another case of Ubuntu updates breaking my installation with more recent firmware. Sorry about the noise.

[2020-11-02 22:51] #484 closed

[2020-11-03 01:49] plbossart commented on #472
I ran 500 iterations on GLK, for which this error was reported in one daily test log. No luck, it's a PASS status. Will try with longer values.

[2020-11-03 06:37] ktrzcinx commented on #484
@plbossart it looks like you are using fresh version of sof-logger (after replacing %s with %pU in this place and deprecating %s) with old version of firmware (still using %s as UUID specifier). There should be different at least in DBG_ABI patch version in your configuration. After getting FW and logger with the same DBG_ABI problem should disappear.

[2020-11-03 16:49] plbossart commented on #472
Of course Murphy's Law applies, failure detected on GLK at the 552th iteration - SOF firmware master and topic/sof-dev.

[code]
[multiple-pipeline-capture-glk.tar.gz](https://github.com/thesofproject/sof-test/files/5482746/multiple-pipeline-capture-glk.tar.gz)

[2020-11-03 16:52] plbossart commented on #472
And unfortunately there is zero information on what the errors might be in sof-test logs. @aiChaoSONG we really need to update the script to provide more information on which capture failed.

[2020-11-04 01:06] aiChaoSONG commented on #472
@plbossart I have added some debug info in my personal sof-test repo to this case, and also trying to reproduce this issue on some platforms,  check report 663, 662, 661, will test more.

[2020-11-04 02:57] aiChaoSONG commented on #482
close for the fix $483 merged.

[2020-11-04 08:53] RanderWang commented on #374
it is fixed by kernel now

[2020-11-04 09:17] RanderWang commented on #374
sorry， I got different status.  @RuiqingX , Did you change FW ?  the default FW is CAVS FW.

[2020-11-04 17:24] plbossart opened #489 "Use aplay --fatal-errors to stop on underruns or errors"
In test scripts, we often have cases where there is no issue reported in firmware or driver logs, but nasty error messages in userspace, e.g. pcm_write error, bad descriptor, etc.

aplay provides a --fatal-errors command line option, and when set will stop processing and return an error code.

I would think this is really required for CI/QA tests (except maybe in rare resume cases where a .prepare

[2020-11-04 17:25] plbossart commented on #489
@marc-hb @kv2019i @aiChaoSONG @xiulipan what do you think?

[2020-11-04 18:16] marc-hb commented on #489
On one hand, anyone serious and professional about validation should love every possibility to find more errors because that's the whole purpose of testing. I didn't know this option existed, I think it should have been used in tests always.

We most likely want to combine this with `set -e` https://github.com/thesofproject/sof-test/issues/312 for it to be really useful.

On the other hand, the ma

[2020-11-04 18:26] plbossart commented on #489
@marc-hb if we get an xrun, we should stop. period. There's no point in continuing further, something really bad just happened and ignoring it is not an option. If we don't then we push the detection of issues to the alsa-bat case, where we will indirectly detect the xrun with a bad THD level.

We *could* ignore errors to see how resilient the error handling is, but that's a different test IMHO.

[2020-11-04 18:47] marc-hb commented on #489
`$aplay_with_opts ...` would require the same `shellcheck disable` verbosity but `my_sof_aplay_function()` should solve this.

Sorry I assumed a very small amount of underrun was temporarily tolerable while working on bigger issues/bugs.

In that case why even bother making this optional? Let's just gradually (as in "continuous" integration) add  `--fatal-errors`  to each test directly in the test

[2020-11-04 21:15] plbossart commented on #489
I found out about this yesterday, we need to experiment on what it actually does, possibly with xrun-injection (which I am also not familiar with)
For example, I thought errors would be reported on suspend-resume, but no error is reported.

[code]

The point is really to try to have more data points, currently we have limited information on what happens for known failures, e.g.
https://github.com/

[2020-11-04 21:53] marc-hb commented on #489
Got it: it's not just underruns and the rest is not known.

[2020-11-04 22:14] marc-hb commented on #374
Can `ignore_str` addition 589920e6ee83 be reverted/removed then? Is that why you re-opened this?

See guidelines in commit 9c55f30647cdd8d

[2020-11-05 00:14] ranj063 opened #491 "Highlight row when mouse hovers over it on device test page"
With the device table getting bigger by the day, it is getting a bit tricky to match the row item on the last colum with the first column which has the test name. Highlighting the row when the mouse moves hovers over it would make it easier to see if the user is clicking the right link.

[2020-11-05 02:06] aiChaoSONG commented on #489
@plbossart As far as I know, there is xrun recovery mechanism in the kernel or alsa-lib, if an xrun is not recovered, I think there may be some hidden issue. Please correct me if I am wrong.

[2020-11-05 06:48] ranj063 opened #494 "Multi-playback/capture-pipeline test is not comprehensive"
The multi pipeline tests start and stop PCM in the same order. It doesnt cover the case where the PCMs are started in one order and stopped in another order. For example:
https://sof-ci.01.org/linuxpr/PR2371/build4845/devicetest/

In the above device test result, the multi-playback-pipeline.sh test passes on BYT/BDW/BSW. because the PCMs are started in the order 0 followed by 1 and stopped in the

[2020-11-05 06:49] ranj063 opened #495 "Multi-playback/capture-pipeline test is not comprehensive"
The multi pipeline tests start and stop PCM in the same order. It doesnt cover the case where the PCMs are started in one order and stopped in another order. For example:
https://sof-ci.01.org/linuxpr/PR2371/build4845/devicetest/

In the above device test result, the multi-playback-pipeline.sh test passes on BYT/BDW/BSW. because the PCMs are started in the order 0 followed by 1 and stopped in the

[2020-11-05 06:49] #494 closed

[2020-11-05 16:38] kv2019i commented on #489
@plbossart I think it makes sense to enable '--fatal-errors'. In all our test cases, we have such large buffers (i.e. we are not running with buffer-size of <5ms), that xruns should not happen. Only bigger concern and possible issue if deployed in CI are tests where we suspend while streams are active. It seems based on https://github.com/thesofproject/sof-test/issues/489#issuecomment-721979147 ,

[2020-11-05 16:57] plbossart commented on #495
Not following @ranj063 the test result link shows a failure for kmod load / unload.

Can you clarify how you made things fail?

[2020-11-05 16:59] plbossart commented on #489
the concept of 'recovery' is misleading. ALSA lib essentially stops and restart the pipeline, so there will be a user impact. That's really not supposed to happen, it's a real bug. We shall not accept underflows and xrun as normal.

[2020-11-05 17:02] ranj063 commented on #495
@plbossart yes, thatethe point. The multi-pipeline-playback.sh test for example on BYT starts PCM 0 followed by PCM 1. And stops PCM 0 followed by PCM 1.

But if you were to stop PCM1 before PCM0, it would have failed.

[2020-11-05 17:03] plbossart commented on #489
yep, it's not like we are testing in low-latency cases (which is a separate topic that at some point we'll have to address buffer sizes and not use the defaults).

My problem is that I can't figure out how to go about this change, it's shell coding at its worst and I'll probably break more things. Someone from the 'CI team' needs to look into this.

[2020-11-05 17:09] plbossart commented on #495
It still don't get how you found that out, do you have a patch for that script?

[2020-11-05 17:12] marc-hb commented on #495
Seconding @plbossart : can you please submit a draft and never merged PR with that simple change?

[2020-11-05 17:37] ranj063 commented on #495
@plbossart I didnt use a script. On BYT, there are exactly 2 playback pipelines and luckily for me I was testing multi pipeline playback start and stop in that order and it failed.

@marc-hb What I am asking is not a one line change in the script especially with 4 active PCMs. I would have submitted the code if it were that simple

[2020-11-05 17:53] marc-hb commented on #495
You sound like you just entered some commands in a shell to reproduce this issue, no? So  that is basically a script. `bash` is really not a great language (e.g. #312) but that's one of the advantages of using it for sof-test.

If what you did to reproduce is more complicated than entering a few commands then I think it's missing from the description.

I did understand that a proper test solution

[2020-11-05 17:56] ranj063 commented on #495
@marc-hb i will attempt to make a script with what I have in my mind. stay tuned!

[2020-11-06 01:40] aiChaoSONG commented on #489
@xiulipan any idea? If no objection, I can help with this step by step.

[2020-11-06 01:54] aiChaoSONG commented on #374
@marc-hb There is `*` in the error message, but markdown has eaten it,  So the fix https://github.com/thesofproject/sof-test/commit/589920e6ee83dfb7e8aae7d3ca7f5ba55dd472af, cannot work, and @RuiqingX update the fix to #496

[2020-11-06 04:45] marc-hb commented on #489
I have something working already

[2020-11-06 05:48] marc-hb commented on #489
https://sof-ci.01.org/softestpr/PR498/build369/devicetest was 100% successful even with the addition of --fatal-errors in 3 basic tests.

[2020-11-06 06:02] xiulipan commented on #489
@marc-hb @aiChaoSONG @plbossart very good proposal, let's track test result from @https://github.com/thesofproject/sof-test/pull/498
As we did not have xrun recovery feature any more, I think this will not break any thing at all. Hope it can bring some different behavior on our aplay/arecord related test

[2020-11-06 06:11] xiulipan commented on #374
@RanderWang can you try to upload the original log file. I think we may got some format issue here.

[2020-11-07 19:54] ranj063 opened #500 "Optimize tests by parsing tplg only once"
It is a bit of an overkill to parse the topology every time when looping through the same test.  For example, take a look at the the mulitple-pipeline-capture test below. There is no need to parse the tplg again for the second loop.

In fact in the case run-all-tests, we should really be parsing the topology only once at the beginning.

[11:48 AM] Sridharan, Ranjani
    2020-11-07 19:48:24 UTC [IN

[2020-11-07 21:57] ranj063 commented on #500
the multiple-pipeline-capture test is even worse. It parses the tplg twice for each loop.
2020-11-07 21:54:55 UTC [INFO] ===== Testing: (Loop: 18/20) =====
2020-11-07 21:54:55 UTC [INFO] ./multiple-pipeline-capture.sh will use topology /lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg to run the test case
2020-11-07 21:54:55 UTC [INFO] Pipeline list to ignore is specified, will ignore 'pcm=H

[2020-11-07 22:08] ranj063 opened #501 "Multi pipeline capture tests are misleading"
When running the multi pipeline tests for capture, the test picks all the possible capture devices and if thats less than the max count allowed, the remaining ones are filled up with playback pipelines. That is a bit misleading. This becomes a different test than just multiple-pipeline-capture then. Not sure if multiple-pipeline-playback does something similar.

If the number of capture pipelines

[2020-11-09 03:44] xiulipan opened #502 "keep/update config.sh file"
- Except for two actual values, all the rest is made of no-op AAAA=${AAAA:-} statements. That's very misleading from a coding perspective.
- What would be more useful is a local config file that is not in git so it doesn't pollute git diff and git status (and even git add * - never do that)
- I'm not even sure a single file collecting all default values is a good idea. Most software seems to have

[2020-11-09 07:43] aiChaoSONG opened #504 "[RFC] NA or Fail if no pipeline is detected?"
should we fail the case or make it NA if no pipeline is detected from topology or /proc?

Currently, some test cases don't check pipeline count, we will have a false PASS if no pipeline is present.

[2020-11-09 07:45] aiChaoSONG commented on #491
this is done by xiuli, check https://sof-ci.01.org/softestpr/PR503/build373/devicetest/

[2020-11-09 16:23] plbossart opened #505 "filter out error with suspend-resume: NOHZ tick-stop error"
https://sof-ci.01.org/linuxpr/PR2555/build4857/devicetest/

CML_RVP_SDW - check-suspend-resume-5.sh

[code]

[code]

Really unrelated to SOF it seems.

[2020-11-09 21:25] ranj063 opened #506 "Failure to start logger does not fail immediately, only at the end of the test"
If the logger fails to start for some reason, the test result is reported as a FAIL. In this case, the test should report the correct status and warn that logger output is unavailable. For example, I have an error with starting logger as follows:
"error: src hash value from version file (0x35cdfa4f) differ from src hash version saved in dictionary (0xfb141ec0)."

But the test, check-playback.sh, r

[2020-11-10 01:26] marc-hb commented on #506
@ranj063 yes a logger failure is a test failure and should be reported as a FAIL. See previous discussions in https://github.com/thesofproject/sof-test/issues/297 and links from there. @plbossart confirm?

Many tests including `check-playback.sh` have an option not to start the logger and then the test will just PASS. See `check-playback.sh -h`

Neither our test suite, nor Jenkins, nor github have

[2020-11-10 01:30] ranj063 commented on #506
@marc-hb the problem is with the consistency and the check for logger return value in case of errors.

if not starting sof-logger is an error, why run the test and then report the failure? See my case above, the test loops 3 all the PCM devces and iterations before saying the test failed because the logger never started.

[2020-11-10 01:31] marc-hb commented on #504
I think so.

@ranj063 , @plbossart , @fredoh9 , @xiulipan , @kv2019i
Can anyone think of any sof-test where zero pipeline is a valid configuration? Then we could probably offer this test(s) the ability to ignore the "zero pipeline failure" but the default should IMHO to fail.

[2020-11-10 01:38] marc-hb commented on #501
This sounds like a simple enough change, could you do it? Warning: it could conflict with some work in progress in this file, notably #497. Maybe wait until #497 is done. Also : good habit to have a quick look at `shellcheck -x` output _before_ starting to code.

[2020-11-10 01:40] marc-hb commented on #491
@ranj063  ok to close?

[2020-11-10 01:41] marc-hb commented on #477
@kv2019i does the new "Copy Link" button solve this, happy to close?

https://sof-ci.01.org/softestpr/PR503/build373/devicetest/?model=BYT_MB_NOCODEC&testcase=check-alsabat-headset-playback

[2020-11-10 02:14] marc-hb commented on #506
Because the logger is started in the background, see my answer above. We could try to detect this earlier but.... see above.

[2020-11-10 02:18] marc-hb commented on #472
I just submitted two-lines `pgrep-a` #507 which helps.

I checked and there's no silly `/dev/null` redirection this time, so this is not a problem with `sof-test` this time.

Is there any chance `--quiet` would silence errors too? `--quiet` options do not normally silence errors but `man aplay` is very vague.

More specifically?

[2020-11-10 02:19] marc-hb commented on #427
@xiulipan can you confirm this was a clock synchronization issue that made `journalctl` output empty? If confirmed can we close this?

[2020-11-10 02:31] plbossart commented on #477
What exactly does this 'Copy Link' do? I paste it in another tab and can't get any useful info. The only thing that gets downloaded is wav files that are not related to the test I was looking for.

[2020-11-10 02:47] libinyang commented on #240
@plbossart I suggest keeping this case. All other test cases including ucm-validator won't detect this 'cset' issue. Even with manually paplay, we can't find this issue too. Without this case, we have to scrutinizing the pulseaudio log or manually using sound-setting to detect such issues. What do you think? If it is OK to you, may I close this issue?

[2020-11-10 03:34] plbossart commented on #240
@libinyang even if we kept the verify-ucm-config, it doesn't test the boot sequence, does it?

[2020-11-10 04:09] libinyang commented on #240
@plbossart No, it doesn't. Thanks for reminder. I will add this case.

[2020-11-10 05:05] ranj063 commented on #491
brilliant. Thank you for the quick turnaround!

[2020-11-10 05:05] #491 closed

[2020-11-10 05:07] ranj063 commented on #506
sure, there are other higher priority issues but if it is an error there is no need to run the test to report the error.

[2020-11-10 05:08] ranj063 commented on #501
The change is simple but I dont want to lose the current multiple-pipeline-capture test either. it is a perfectly valid test with multiple-pipeline-playbackandcapture test. So we should keep this and create a new test for a simple multi capture test

[2020-11-10 06:57] marc-hb commented on #506
The main test process does not even know when a backgrounded process fails, not before it `wait` for its completion. Let's try this analogy in case it helps: you can not know the return value at `pthread_create()` time, you can tell only at `pthread_join() / wait` time.

The main process cannot `wait` for the completion of the logger before the end of the test because it does not want the logger t

[2020-11-10 07:14] marc-hb commented on #477
I never downloaded these and I don't link this automatic download either but I hope these files _are_ related to the corresponding test! What happens after you cancel the download?

Here's another example without any automatic download https://sof-ci.01.org/softestpr/PR503/build373/devicetest/?model=ICL_RVP_HDA&testcase=verify-sof-firmware-load

[2020-11-10 17:39] ranj063 commented on #506
One simple creative way is to check for pre-requisites such as "is sof-logger functional?" before actually starting it in the background?

[2020-11-10 18:30] marc-hb commented on #506
There are already a couple sanity checks in `case-lib/lib.sh` but nothing that compares the dictionary source hash yet. If you can find a short and simple way to perform this pre-check and add it there then why not.

I don't know your exact test configuration/duration but I feel like the time we spent discussing this source hash check is already bigger than the time it would save in the future. So

[2020-11-11 01:58] aiChaoSONG commented on #506
@ranj063  `sof-logger was already dead` this line means that when we are checking if sof-logger is alive, it is dead, or it is not started at all.

 - if it is already dead: means we do have issue with FW, because sof-logger is started in trace mode, it should be alive unless we kill it.
- it is not started:  you don't have sof-logger in your PATH, so it cannot started by sof-test, because test ca

[2020-11-11 05:22] marc-hb commented on #506
@aiChaoSONG if you read the entire description more slowly you will see that in this particular case we know exactly why the logger failed.

[2020-11-11 05:31] marc-hb commented on #501
cc: @fredoh9

I just put multiple-pipeline-playback and multiple-pipeline-capture side by side for the first time and realized the unbelievable amount of copy/paste/diverge :-(

[2020-11-11 05:51] fredoh9 commented on #472
I saw this problem in ICL_HDA_HDA/WHL_RVP_HDA with multiple-pipeline-capture.sh recently. #507 will help debug which process might be the problem but still I don't see any error message.

[2020-11-12 07:11] RanderWang commented on #374
[kernel.log](https://github.com/thesofproject/sof-test/files/5528840/kernel.log)
@xiulipan  please check this log

[2020-11-13 02:12] aiChaoSONG opened #514 "Some USB noise need to be filtered out"
check report 732 on CML_OLP_RT711 suspend case
[code]

[2020-11-13 02:29] aiChaoSONG commented on #514
@marc-hb I just realized that our filters for some USB noise don't work,  because the `.` only match a single character. maybe change `.` to `*`, or we specify the whole false failure text?
[code]

[2020-11-13 02:47] marc-hb commented on #514
You mean change `.` to `.*`?  Or better, to `[[:digit:]-.]*`

[code]
In the lack of a final `$`, a last `.` is pointless and should be removed. It sets a bad example.

Use `fake_kern_error()` to test regular expressions like this. Regular expressions are extremely error-prone, can never be tested too much. You can stuff a single, quick test with dozens of `fake_kern_error`

Is this an issue with t

[2020-11-13 03:09] aiChaoSONG commented on #514
@marc-hb In fact, our USB peripherals work, hard to tell which is broken.  I have see usb error logs with same message but different usb version or error code, same usb version but different message, this make the filter RE hard to write.

[2020-11-13 05:47] marc-hb commented on #514
Plug them in/out/in/out... while watching `journalctl -f` :-)

[2020-11-14 05:46] marc-hb commented on #374
I downloaded and looked at this log. There is no need to look at this log, it has no information that the description doesn't already have.

I have not tested it but the regex fix in #496 looks correct. gowever #496 is missing a commit message.

Please test #496 locally with `fake_kern_error()`.

If  589920e had been tested with `fake_kern_error()` then we would not be spending so much time discus

[2020-11-16 05:49] mengdonglin commented on #460
@keqiaozhang can you please add the case after we get the new USB sound card w/ stereo input?

[2020-11-16 06:40] aiChaoSONG commented on #472
When issue occurs, There are four pipeline in the process, but only three is calculated. confirmed a test case issue.
[code]

[2020-11-16 11:32] RanderWang commented on #374
it is fixed

[2020-11-16 11:32] #374 closed

[2020-11-16 22:48] marc-hb commented on #374
What is fixed? #496 is not merged.

[2020-11-17 00:21] marc-hb commented on #472
BTW there are obsolete `expr` commands in these tests, please help review #497 that removes a few and then let's use shellcheck to remove the rest.

[2020-11-17 03:01] #505 closed

[2020-11-17 17:08] plbossart commented on #501
this needs to be addressed. We have recurring failures for cases that rely on mixers

https://sof-ci.01.org/linuxpr/PR2565/build4887/devicetest/?model=BSW_CYN_MAX98090&testcase=multiple-pipeline-capture
https://sof-ci.01.org/linuxpr/PR2565/build4887/devicetest/?model=APL_UP2_NOCODEC&testcase=multiple-pipeline-capture

And those two are completely unrelated to capture...

[2020-11-18 06:48] marc-hb commented on #501
The second, APL_UP2_NOCODEC failure is a test regression I just introduced in https://github.com/thesofproject/sof-test/pull/497, apologies and tentative fix in https://github.com/thesofproject/sof-test/pull/521. Please help review.

The BSW_CYAN_MAX98090 looks different.

[2020-11-18 23:39] marc-hb commented on #472
There's a fair amount of code churn happening right now in `multiple-pipeline-capture/playback.sh` (and not just) so please everyone keep reporting here any occurrence you see including the versions (SHA1) of all components.

[2020-11-19 00:57] marc-hb commented on #489
#498 has just been merged, so `SOF_ALSA_OPTS='--fatal-errors --fubar` is now supported by `check-playback.sh`, `check-capture.sh` and `multiple-pipeline-capture.sh`

#525 will add it to `multiple-pipeline-playback.sh` (which is 99% copy/paste from `multiple-pipeline-capture.sh`, I digress). `SOF_ALSA_OPTS='--fatal-errors'` should make the multi pipelines tests fail if the aplay process exits quick

[2020-11-19 01:40] aiChaoSONG commented on #472
With https://github.com/thesofproject/sof-test/commit/a1c56774919c8b1afa07da91b7e9cd37cc7af153, we are able to see how many process are alive, and what are they. But from recent report,  https://sof-ci.sh.intel.com/#/result/planresultdetail/789?model=JSL_RVP_HDA&testcase=multiple-pipeline-capture-50， we do have four process, but the calculated value is 3.

[2020-11-19 01:46] RuiqingX commented on #482
@aiChaoSONG This issue found on TGLU_ANDR_SDCA device again.

https://sof-ci.sh.intel.com/#/result/planresultdetail/789?model=TGLU_ANDR_SDCA&testcase=check-suspend-resume-50

[2020-11-19 07:00] marc-hb commented on #472
Thanks for the example. Amazingly the total is wrong only after 29 successful test iterations.

After #525  alignment and de-duplication, I think a good next step would be to add `rec_count` and `aplay_count` to the error message.

[2020-11-19 07:50] aiChaoSONG commented on #472
@marc-hb Yes, that's what https://github.com/thesofproject/sof-test/pull/516 does, but need to wait your patch to merge to eliminate the divergence between the two multiple-pipeline-* cases.

[2020-11-19 16:46] plbossart commented on #482
the filter hasn't changed and worked before, so something else must have changed? @aiChaoSONG @marc-hb

[2020-11-19 17:51] marc-hb commented on #482
Has it worked before really? Sorry for being sceptical but I understand these errors are intermittent, which means it's very easy to get the filter wrong and not notice anything. I recommended multiple times to locally test every `ignore_str` change with `fake_kern_error()` but each of these recommendations has been followed by suspicious silence.

For instance fix 3e9df9e16dd4d9 shows that the pr

[2020-11-19 19:49] marc-hb commented on #472
I think the very first thing to do immediately after #525 is to merge the two scripts into only one because it will remove a LOT of duplicated code. Could you do that after #525 has been tested by at least one daily test run?

Once that's done we can look at #516 and other things.

I scanned `man pidof` and I just found `-z`, this is another (small code)change I think we should try:
[code]
As usua

[2020-11-20 01:31] aiChaoSONG commented on #482
@plbossart Problem of the previous regular expression is in the `.`, it can only match one character.

[2020-11-23 02:10] aiChaoSONG commented on #504
close for patch merged.

[2020-11-24 05:29] #504 closed

[2020-11-25 21:15] marc-hb commented on #472
I'm 90% sure I found the root cause, and good news: yes this seems to be a pure test code issue.

I will hopefully submit a fix on Monday 30th when I get back. In the mean time please review #532 because I'm not going to copy/paste the fix.

[2020-11-27 16:32] lyakh opened #536 "kernel errors to ignore are much too specific"
Some strings that the kernel log parser is configured to ignore are *much too* specific, they contain details of the local set up, which change when using a different hardware or network configuration. Examples:

The USB path can change, "U1," "U2" might also vary

Device path and name can change

Device path can change

Device number and state can be different

Device path can change

Can happen

[2020-12-01 01:37] marc-hb commented on #472
Confirmed to be the issue, see longer explanation in commit message of candidate fix PR #538

[2020-12-02 22:14] marc-hb commented on #472
Nightly tests run 912 still shows some failures, let's not let github auto close this and close it manually only when we actually stop seeing it (PR tests almost never showed it; they don't run for long enough)

Tentative fix #538 was merged 15 hours ago, Nightly tests run 912 started at 2020-12-02 05:31:57 UTC which is unfortunately about the same time so it's not obvious which sof-test version 9

[2020-12-03 06:28] marc-hb commented on #472
Nightly tests run 937 seems OK; including the report of an _actual_ failure!

[2020-12-04 07:12] marc-hb commented on #472
Looks like this test bug is gone, closing. However note the fix #538 broke the directory name for the `logs/`, see tentative fix #546 (+ internal Jenkins issue 640)

[2020-12-04 07:12] #472 closed

[2020-12-04 18:32] marc-hb commented on #506
I changed the issue title in an attempt to reflect the evolution of this issue. Please correct me.

[2020-12-07 06:31] aiChaoSONG commented on #536
@marc-hb What‘s your opinion?

[2020-12-07 06:35] aiChaoSONG opened #548 "Clean some info/dbg level ignore str"
Previously, we add a lot of info/dbg level ignore str, and now we are switching to journalctl, and only error level message is collected now. let's clean up old ignore string.

[2020-12-07 06:44] marc-hb commented on #536
My opinion is that this bug is... not specific enough :-)

More seriously: please "send patches"! Or discuss in the corresponding bug when there is one. Or discuss in the PR that last modified that filter, `tig blame` is your friend.

A number of filters were recently added in #529 which was not reviewed. I'm sure other, older filters are far from perfect either.

But please only one filter at a t

[2020-12-07 06:55] marc-hb commented on #427
@xiulipan ping?

[2020-12-07 06:58] marc-hb commented on #536
Ignoring all USB errors seems a bit risky to me. Is USB as a whole really such a total piece of crap? On ALL platforms?? How about ignoring all USB errors only on prototype hardware? See also #514 and probably others.

If you really must test with some crappy USB device then how about adding a one line filter only in your local workspace without affecting everyone else who doesn't use this crappy

[2020-12-07 17:59] plbossart commented on #536
The USB errors I reported are all on production hardware - not Intel prototypes. It's annoying to have to add local magic, once you start in this direction you opened the doors to 'works for me' issues.

[2020-12-07 18:17] marc-hb commented on #536
USB errors that affect more than one person should absolutely be shared (the devil is still in the regex details). I'm only objecting to polluting this file and making it harder to maintain with "doesn't work for me ONLY" filters.

[2020-12-15 05:43] libinyang opened #555 "module load/unload failed"
Not sure this is a bug or we designed it on purpose.

check-kmod-load-unload.sh will fail when audio runtime suspend fails. However, I can manually unload/reload the modules successfully. This means runtime-suspend is not a blocker for the module reload.

[2020-12-15 17:28] plbossart commented on #555
it's a problem if when doing a kmod load/unload loop the device remains active after the load. It means that something did not work well during the load -> it's a bug e.g. with reference counts not properly released on remove.

[2020-12-16 01:07] libinyang commented on #555
@plbossart If the device remains active after the load, this should be a bug related to runtime PM, not to the load/unload? The "reference count" should be the pre-condition of load/unload, not be the bug of load/unload?

[2020-12-16 01:17] WYL-12 opened #556 "[Bug][TGL][SDW]multiple-pipeline-capture failed on TGLU_VOLT_SDW."
In daily test report 937 on TGL VOLT SDW, below error observed in multiple-pipeline-capture test:

Error message:
[code]
Recipe:
Kernel: topic/sof-dev 5012df6
SOF : master 67f3b06d6975
TPLG: sof-tgl-sdw-max98373-rt5682-4ch.tplg
Platform: TGLU_VOLT_SDW

[2020-12-16 02:34] WYL-12 opened #557 "[Bug][TGL] Failed to enable software/hardware MII access on suspend resume playback test."
In daily test report 1199 on TGLH RVP HDA, below error observed in suspend resume playback test:

Error message:
[code]
Recipe:
Kernel: topic/sof-dev 71ae5193
SOF : master 8d277b5b159e
TPLG: sof-hda-generic-4ch.tplg
Platform: TGLU_RVP_HDA
[12-16_dmesg.txt](https://github.com/thesofproject/linux/files/5699961/12-16_dmesg.txt)

[2020-12-16 13:22] kv2019i commented on #536
This really comes down to CI operational aspects. On one side, if you have relaxed filter rules, you will have less work to maintain the filter rules, but you take a higher risk of missing a real regression. Latter means we leak buggy code to upstream, so I would always err on the side of caution here.

My 2 cents:
 - I agree with @lyakh that USB topology information should not be hardcoded in fil

[2020-12-16 17:17] marc-hb commented on #536
+1

A reminder that I added some "policies" at the top of the source file where the filters are. These policies can be patched too and could/should include advice like the USB or PCI ones above.

[2020-12-17 06:14] WYL-12 opened #558 "[EHL]multiple pause resume failed on EHL RVP I2S."
In daily test report 1229 on EHL RVP I2S, below error observed in multiple pause resume test:

 failed case:
multiple-pause-resume-25.sh

Error message：
[code]
[1217_multiple-pause-resume_etrace.txt](https://github.com/thesofproject/sof-test/files/5707314/1217_multiple-pause-resume_etrace.txt)

Recipe:
Kernel: topic/sof-dev 71ae5193-2
SOF : master 8d277b5b159e-1
TPLG: sof-ehl-rt5660.tplg
Platform:

[2020-12-18 05:43] WYL-12 opened #562 "[EHL]HW ready/start failed with suspend resume capture test on EHL RVP I2S."
In daily test report 1271 on EHL RVP I2S, below error observed in suspend resume capture test:

failed case:
check-suspend-resume-with-capture-25.sh

Error message：
[code]
[12-18_check-suspend-resume-with-capture-25_dmeag.txt](https://github.com/thesofproject/sof-test/files/5713888/12-18_check-suspend-resume-with-capture-25_dmeag.txt)

Recipe:
Kernel: topic/sof-dev 0f8b24ac
SOF : master  6d75984f7

[2020-12-21 07:01] aiChaoSONG commented on #556
close for duplicated of https://github.com/thesofproject/sof-test/issues/472

[2020-12-21 07:01] #556 closed

[2020-12-28 08:06] keqiaozhang opened #564 "Filter out irrelevant e1000e network adapter error."
CI detected an irrelevant network adapter error, need to filter it out in our test case.
`[ 6928.068820] kernel: e1000e 0000:00:1f.6 enp0s31f6: Hardware Error`
1371?model=CML_RVP_HDA&testcase=check-suspend-resume-50

[2020-12-28 08:22] keqiaozhang opened #565 "Filter out irrelevant asix error."
CI detected this error when testing “check-suspend-resume-50” on TGLH platform.
[code]

1371?model=TGLH_RVP_HDA&testcase=check-suspend-resume-50

[2021-01-04 02:21] keqiaozhang commented on #565
Looks like this a network hardware issue, asix_bind return error when hw reset fails. I have switched the network to another network port on motherboard. if this doesn't help, I will try to use the USB network adapter.

[2021-01-04 02:22] aiChaoSONG opened #567 "usb 1-2 device descriptor read error on CML_HEL_RT5682."
On helios, some USB error messages caused false failure in kmod test.
[code]
[code]

[2021-01-04 07:44] keqiaozhang commented on #557
duplicated with https://github.com/thesofproject/sof-test/issues/565

[2021-01-04 07:44] #557 closed

[2021-01-07 06:37] aiChaoSONG opened #572 "[RFC] Rename variables for defining script's options"
We have for variables named `OPT_DESC_lst` `OPT_OPT_lst` `OPT_PARM_lst` `OPT_VALUE_lst` used for defining script's options. And I just think they are not very to the point, so I decide to rename them to:
`OPT_NAME`, `OPT_ARG_COUNT`, `OPT_ARG_VAL` and `OPT_DESC`

Currently, our option definition code looks like this:
[code]
Two sentences are written in one line, that's not clean and tidy, either.
I

[2021-01-07 06:52] marc-hb commented on #572
I agree the names are confusing, I have to check the comments in `opt.sh` every time (copied below for convenience).

`OPT_NAME` LGTM and keeping `OPT_DESC` too.

`OPT_ARG_COUNT` can only be 0 or 1, it's basically a boolean so how about `OPT_HAS_ARG`?

For `OPT_ARG_VAL` I prefer `OPT_VAL` because it's used  even when there is no ARG (as another boolean)

[code]

[2021-01-08 02:45] aiChaoSONG commented on #572
A PR for `OPT_OPT_lst` and `OPT_DESC_lst` renaming is submitted: https://github.com/thesofproject/sof-test/pull/573
@marc-hb I totally agree with `OPT_HAS_ARG` and `OPT_ARG_VAL`, let's wait for some more inputs.
@xiulipan Please give your opinion or review my PR.

[2021-01-08 03:57] xiulipan commented on #572
@marc-hb @aiChaoSONG `OPT_HAS_ARG` should be a better name
@aiChaoSONG please help to create with a new PR.

[2021-01-08 06:20] aiChaoSONG commented on #572
@xiulipan Let's don't so hurry to close it.
@marc-hb  If we use `OPT_HAS_ARG`, it's better to use its brother `OPT_ARG` instead of `OPT_VAL`.

I think this is also what we should fix,  if the option has an arg, the arg should be specified with `OPT_ARG`, if there is no arg for the option, just don't specify it, there is no reason to have a redundant boolean.

A PR renames OPT_PARM_lst to OPT_HAS_A

[2021-01-08 06:32] xiulipan commented on #572
@aiChaoSONG I did not realize the merge automatically close this issue.

I checked #574, we also need to take care of the inline comments if we do those changes.

[2021-01-11 02:43] keqiaozhang commented on #565
CI detected the similar asix USB Ethernet issue on CML Chrome device when testing suspend/resume.
[code]
https://sof-ci.sh.intel.com/#/result/planresultdetail/1547?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-playback-25

[2021-01-12 05:36] marc-hb commented on #572
Redundant with what else? Where do you know whether the option was passed?

[2021-01-13 07:50] aiChaoSONG opened #576 "[RFC] enable sof-test on ChromeOS"
I can make sof-test/test-case/check-playback.sh run on ChromeOS, but there are some issues.
[terminal.txt](https://github.com/thesofproject/sof-test/files/5807075/terminal.txt)

1. the visudo configuration seems only takes effect once.
2. there is no /var/log/kern.log file.
3. the sudo funciton in hijack.sh report a library issue, but the file does exist on the system.
[code]
4. no sudo group on C

[2021-01-15 07:50] #572 closed

[2021-01-18 14:28] lyakh opened #578 "Filter out irrelevant iwlwifi error"
[code]

[2021-01-19 04:07] xiulipan opened #582 "filter out USB related error logs"
seen on https://sof-ci.01.org/softestpr/PR579/build549/devicetest/?model=CML_HEL_RT5682&testcase=check-kmod-load-unload
[code]

[2021-01-19 19:37] marc-hb commented on #565
@keqiaozhang can you confirm `asix 3-12.1:1.0 enx000ec668ad2a` is on the motherboard? Are the network interfaces on the motherboard all USB? `lsusb -tv` might help.

I see other USB errors, maybe a generic USB issue.

[2021-01-20 01:35] marc-hb commented on #576
https://pip.pypa.io/en/stable/installing/#installing-with-get-pip-py instead of chromebrew?

Running everything as root should avoid sudo, at least to get things started.

[2021-01-20 02:45] keqiaozhang commented on #565
CI detected this network issue on three different platforms and we used the USB lan adaptor on these DUTs, I think it's a generic USB issue.

[2021-01-20 05:21] marc-hb commented on #565
I'm still confused sorry.
- So all these USB errors are with USB adapters/dongles, correct? Never with a "network port on the motherboard"?
- If it's always with the same driver then it does not point at a generic USB issue. Can you test with a different USB adapter, one with a different driver?

[2021-01-20 16:20] lyakh commented on #578
should be fixed by https://github.com/thesofproject/sof-test/pull/581

[2021-01-21 10:31] mengdonglin opened #585 "Allow user to skip display audio pipelines in test"
We need the test cases can accept a config parameter to skip all display audio PCMs and only test other PCMs.

This can help CI to support very new platforms. For these platforms, i915 display driver support is not ready in upstream mainline kernel, so all test on display pipelines will fail and block test on other pipelines.  We hope the test cases can be configured and allow  us to test non-disp

[2021-01-22 05:22] aiChaoSONG opened #586 "webhook test issue"
only for test

[2021-01-22 05:23] aiChaoSONG commented on #586
test

[2021-01-22 05:24] aiChaoSONG commented on #586
test2

[2021-01-22 05:26] aiChaoSONG commented on #586
test3

[2021-01-22 05:44] fredoh9 commented on #576
For python problems, installing miniconda is the solution. It will resolve python version and packages. I will summarize the procedures.

Need package manager, I found chromebrew useful. expect, graphviz pacakage can be installed
https://medium.com/@dihuta/chromebrew-crew-chromeos-package-manager-a91e56a3d898
[code]

Need to remount to add executable permission.
[code]

/var/log/kern.log error, I

[2021-01-22 21:09] fredoh9 commented on #576
for miniconda, there is a shell script installer.
[code]

[2021-01-23 04:35] fredoh9 commented on #576
I'm using CML Chromebook for reference ChromeOS platform, version 89.xxx. Without ChromeBrew or minicodna, default python is python 3.6.5. get-pip.py works fine! pip version today i have is pip 20.3.3. I'm able to run check-playback.sh

[2021-01-25 00:06] marc-hb commented on #576
https://pexpect.readthedocs.io/en/stable/

[2021-01-26 05:55] aiChaoSONG commented on #586
This issue is used to test webhook, sees doesn't work.

[2021-01-26 05:55] #586 closed

[2021-01-26 06:08] aiChaoSONG commented on #585
A dev topology is here: https://github.com/thesofproject/sof/pull/3779

[2021-01-26 06:12] aiChaoSONG commented on #558
close for not reproduced

[2021-01-26 06:12] #558 closed

[2021-01-26 06:13] aiChaoSONG commented on #555
@libinyang can you still reproduce this issue? can you give more details or can we close?

[2021-01-26 06:32] keqiaozhang commented on #565
So far, we observed this issue on 2 platforms: ICL_RVP_HDA and TGLH_RVP_HDA, but not sure if those devices are using the same USB adapter because the failed DUT of ICL_RVP_HDA was set up by Fred in JF lab. I will try with another USB adapter on TGLH_RVP_HDA in SH.

[2021-01-26 06:33] aiChaoSONG commented on #495
I have add comments, and make it much clear, https://github.com/thesofproject/sof-test/pull/563, close? @ranj063 @marc-hb

[2021-01-26 06:39] aiChaoSONG commented on #500
Each test case is independent, it's impossible to parse topology once, and run multiple scripts. close? @ranj063

[2021-01-26 06:41] aiChaoSONG commented on #489
@marc-hb I think this is done, can we close this?

[2021-01-26 06:43] aiChaoSONG commented on #477
we have link for each test case on a model, can we close? @kv2019i

[2021-01-26 06:46] aiChaoSONG commented on #471
some parameter can only be extracted from topology, so a full replacement is impossible, but for platforms use legacy HDA drivers like RKL-S, we can run sof-test on there platforms by reading /proc.  close? @marc-hb

[2021-01-26 06:49] aiChaoSONG commented on #466
confirmed fixed by @xiulipan ,close

[2021-01-26 06:49] #466 closed

[2021-01-26 06:50] aiChaoSONG commented on #460
Pending for new usb sound card purchasing.

[2021-01-26 06:56] xiulipan commented on #449
@plbossart I think now we have https://github.com/thesofproject/sof-test/blob/master/test-case/multiple-pause-resume.sh to cover this case. Please confirm can we close this issue

[2021-01-26 06:56] xiulipan commented on #445
open PR https://github.com/thesofproject/sof-test/pull/481

[2021-01-26 06:59] xiulipan commented on #427
@marc-hb I think after we switch to use journalctl, this issue is not seen for long. Please confirm we can close this issue.

[2021-01-26 06:59] xiulipan commented on #415
@fredoh9 Ping of update.

[2021-01-26 07:00] aiChaoSONG commented on #436
I think I cannot see this issue on our daily report, can we close? @singalsu

[2021-01-26 07:00] xiulipan commented on #413
ping for update

[2021-01-26 07:01] xiulipan commented on #411
@aiChaoSONG Please update if we have enabled this feature.

[2021-01-26 07:02] xiulipan commented on #379
any update? @thesofproject/test-maintainers I think we have update the alsa-bat test with wavtool and new hardware.

[2021-01-26 07:03] xiulipan commented on #331
@aiChaoSONG I think we have enabled this feature, right? please confirm and close the issue.

[2021-01-26 07:06] xiulipan commented on #292
I think this is already done by https://github.com/thesofproject/sof-test/pull/529 @fredoh9 Please confirm and close.

[2021-01-26 07:10] xiulipan commented on #247
@aiChaoSONG I think we deploy the `sof-ddebug.conf` on all DUTs, please confirm if we can close this issue now.

[2021-01-26 07:11] xiulipan commented on #243
The `check-reboot.sh` script is deprecated now and we are working on new test case to test reboot.

[2021-01-26 07:12] xiulipan commented on #237
The check-reboot.sh script is deprecated now and we are working on new test case to test reboot.

[2021-01-26 07:13] xiulipan commented on #241
merged https://github.com/thesofproject/sof-test/pull/554 @keqiaozhang @plbossart can we close this issue.

[2021-01-26 07:15] xiulipan commented on #233
Already have https://github.com/thesofproject/sof-test/blob/master/test-case/run-all-tests.sh
@marc-hb can we close this issue

[2021-01-26 07:18] xiulipan commented on #112
@marc-hb @keqiaozhang @aiChaoSONG can we close this issue, I think the README is pretty good now

[2021-01-26 07:20] xiulipan commented on #329
@marc-hb @plbossart will https://github.com/thesofproject/sof-test/pull/527 can work on this request?

[2021-01-26 07:22] xiulipan commented on #256
duplicated with https://github.com/thesofproject/sof-test/issues/353

[2021-01-26 07:38] libinyang commented on #555
After I disable HDA in BIOS, it works well.

But my question is: whether unload/load module cases failed because of run-time pm issue should be categorized into module load/unload issue? If it should be, I think we can close it.

[2021-01-26 07:46] aiChaoSONG commented on #331
I think @marc-hb has add  loop options, 9853627,  The very_short_tests(-l 1) option just work like PR test plan.

[2021-01-26 07:49] aiChaoSONG commented on #247
@xiulipan Yes, we will deploy sof-dyndbg.conf along with kernel deploying

[2021-01-26 07:56] aiChaoSONG commented on #555
@libinyang The PM suspended status is the dependency of module load/unload, or the test case will fail. So I think yes.
As far as I can remember, we need to wait dsp to suspend, because module removing will hang if dsp is active. but if this is solved, we can do module remove directly without waiting for DSP suspended.

[2021-01-26 07:58] libinyang commented on #555
@aiChaoSONG But shouldn't it be categorized into pm issue?

[2021-01-26 08:12] libinyang commented on #555
Or set the status as SKIP as the dependency is not satisfied? What's our other cases behavior when we met such dependency issues?

[2021-01-26 08:14] keqiaozhang opened #593 "Failure to remove snd_hwdep module in kmod test on CML_HEL_RT5682"
Error message in kmod test:
[code]

No error trace available.
How to reproduce:
[code]

[2021-01-26 08:38] keqiaozhang commented on #567
Now CI detected some different errors of "usb-1.2.*" on different DUTs. Like :
[code]

[code]

[2021-01-26 09:43] xiulipan commented on #247
@plbossart Could we close the issue as the  `sof-dyndbg.conf` in now enabled on all DUTs.

[2021-01-26 10:06] xiulipan commented on #555
@libinyang @aiChaoSONG I think this maybe related to our test scripts https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-unload.sh
For those DUT that should support PM, we will wait for PM suspend to avoid issues. I think in @libinyang issue, the PM function is broken due to wrong configure that cause the kmod to fail. So I am OK to close this issue as this is root cau

[2021-01-26 13:46] singalsu commented on #436
I still get this issue on my SOF PR https://github.com/thesofproject/sof/pull/3783 .

[code]

[2021-01-26 13:54] singalsu commented on #436
My try to fix this is in https://github.com/thesofproject/sof-test/pull/437 .

[2021-01-26 19:57] marc-hb commented on #489
It's not done:
- many tests don't support SOF_ALSA_OPTS yet
- `--fatal-errors` is not the default yet

[2021-01-27 00:29] marc-hb commented on #331
@plbossart you filed this; is the short loop option good enough for you?

[2021-01-27 00:32] marc-hb commented on #329
It looks like SOF_ALSA_OPTS from (not finished) #489 would work for this too. @plbossart  can you confirm?

[2021-01-27 00:38] marc-hb commented on #112
Agreed. Any issue left with the README can now be directly submitted as PRs, no need for a github issue.

[2021-01-27 00:58] marc-hb commented on #593
This happened in nightly run 1807. Thanks to @xiulipan's advice I looked at `dmesg` and this seems to be the first and real issue:
[code]
Error messages after the first one are rarely useful. Here the first and real issue is inconveniently ignored by #567

I didn't realize #567 was ignoring the failure of some _audio_ device! Trying to validate audio with USB failures is risky. Trying to validate

[2021-01-27 01:11] marc-hb commented on #582
This really looks like an audio issue.

[2021-01-27 01:15] marc-hb commented on #578
I think we should ignore everything from `iwlwifi` (or even better: blacklist it). Hopefully it's not going to crash the system.

However #581 also ignores errors from wired network adapters.

[2021-01-27 01:16] xiulipan commented on #582
Please check https://bugzilla.redhat.com/show_bug.cgi?id=1240798
looks like a audio USB card issue.

[2021-01-27 01:35] marc-hb commented on #473
@lyakh  can you still reproduce this? There's been a number of changes in sof-test since you filed it.
Also appreciate if you can provide detailed reproduction steps.

Is the problem the lack of kernel log check? Just to make sure we understand each other.

[2021-01-27 01:43] marc-hb commented on #478
@xiulipan says "it may not that simple, may depend on the test". @xiulipan to investigate.

IMHO it's OK if _some_ tests catch boot time errors, for instance it's OK if tests after the first one in a suite don't look at boot time errors.

[2021-01-27 01:44] marc-hb commented on #482
Closing in bug scrub because no one saw this recently and @aiChaoSONG thinks the regex has been fixed. Please re-open if you see this again.

[2021-01-27 01:44] #482 closed

[2021-01-27 01:48] marc-hb commented on #514
This specific error hasn't been seen on CML in a while.

The single dot regex has been changed to multiple dots `.*` for usb3 but not usb2 yet, @aiChaoSONG to submit the change and close this.

[2021-01-27 01:50] marc-hb commented on #536
This is a generic discussion, not a specific bug, closing.  We can keep discussing even after it's closed!

PS: everyone agrees to ignore wifi EVERYTHING, please send a patch.

[2021-01-27 01:50] #536 closed

[2021-01-27 01:58] marc-hb commented on #548
Discussed in the bug scrub, agreed to have regular cleanups like bug scrubs.

To cleanup: look at the URL, send a PR without that line, check recent logs on the corresponding platform.

[2021-01-27 01:58] #548 closed

[2021-01-27 02:00] marc-hb commented on #562
ME driver has been blacklisted by @keqiaozhang  on that device, closing in bug scrub.

[2021-01-27 02:00] #562 closed

[2021-01-27 02:15] keqiaozhang commented on #565
I setup a new TGL-H Beta desktop with a new type of USB adapter, daily test got "ALL PASS", no asix related errors. I will replace all our TGL-H Alpha desktops to the Beta one in our CI and continue to track this issue in CI test.
@fredoh9 , this issue happens when testing suspend/resume related cases, so could you please help to check the USB adapter on ICL_RVP_HDA？

[2021-01-27 02:23] xiulipan commented on #478
@plbossart @marc-hb After checking our old logs, we could got boot time **call trace** but we did not enable kernel log check in verify test cases. I will send a RFC to enable kernel log check in one of our verify test script.

[2021-01-27 02:31] keqiaozhang commented on #582
```kernel: usb 1-2.4: 2:1: cannot set freq 48000 to ep 0x82```
This line of error reminds me of a recent change in our sof-test, I removed the "plughw" in alsabat test and specified the freq to 48000.
@fredoh9 , could you help to check if the USB sound card supports 48K format? A lot of USB errors happen on CML_HEL_RT5682 and most of the devices are in JF lab.  BTW, we are using the UGREEN sound c

[2021-01-27 02:49] keqiaozhang commented on #431
This issue happened again on CML_HEL_RT5682 in daily test ID1828.

[2021-01-27 03:18] mengdonglin commented on #567
@keqiaozhang @aiChaoSONG Can you help confirm if this error related to USB sound card or USB network adaptor?

[2021-01-27 03:23] aiChaoSONG commented on #431
I think this is related to USB hub or card devices, because we never see this in PRC.

[2021-01-27 04:06] mengdonglin commented on #567
Similar issue is observed in CI daily test ID 1828 on  2021-01-26:  on device CML_HEL_RT5682 (DUT jf-cml-hel-rt5682-02) in case check-kmod-load-unload.sh
[code]

[2021-01-27 04:10] mengdonglin commented on #567
@fredoh9 Can you help check if this is related to the USB sound card or USB ethernet adaptor? Does it always happen on the same CML Helios device?

[2021-01-28 00:46] marc-hb commented on #431
What happened there is actually a cascade of 3 USB errors.

**Before** this USB error, there was another, previous USB failure two test earlier during the `check-kmod-load-unload.sh` audio test. I think it's already reported in another bug:
[code]

After this one there was a 3rd error with the USB network adapter in the same, suspend-resume test:
[code]
Using unreliable USB devices seems like a to

[2021-01-28 01:33] marc-hb commented on #427
Agreed, can re-open if seen again.

[2021-01-28 01:33] #427 closed

[2021-01-28 01:36] marc-hb commented on #477
I (and many others) hve been using that feature a lot, it's extremely useful. So I confirm this is done, closing. @kv2019i  please re-open if you "prefer popup to normal links" or if anything else was missed.

[2021-01-28 01:36] #477 closed

[2021-01-28 04:42] marc-hb commented on #471
How far from that are we?

[2021-01-28 04:43] marc-hb commented on #413
@fredoh9 ?

[2021-01-28 12:33] xiulipan commented on #471
For legacy HDA DUT, we are using /proc but with **FAKED** rate, channel and format info. I do not think using /proc like this can satisfy our test case requirement.

To get fully info, we will need to query the PCM with `--dump-hw-params` which makes test case more complex.

[2021-01-29 15:07] kv2019i opened #599 "Test i915 hotplug using EDID injection"
We've had some regressions (https://bugzilla.kernel.org/show_bug.cgi?id=210983 , although this happened only with silent streaming enabled) caused by lack of coverage for display audio hotplug cases.

One idea to test for these cases is to use the i915 EDID injection capability as is done in following test case code for i915:
https://gitlab.freedesktop.org/drm/igt-gpu-tools/-/blob/master/tests/kms

[2021-02-03 01:53] keqiaozhang commented on #593
suggest to replace the USB hub to UGREEN 5 in1 TYPE-C hub, which should be able to fix this issue.

[2021-02-03 02:31] marc-hb commented on #506
@ranj063  does this still matter to you? I'm afraid we have many more urgent things to tackle.

[2021-02-03 02:32] marc-hb commented on #500
@aiChaoSONG it should be at least possible and probably even easy to parse only once per test.

[2021-02-03 02:35] marc-hb commented on #233
We should re-use a proper and flexible test runner but it's not going to happen soon.

[2021-02-03 02:35] #233 closed

[2021-02-03 02:36] #112 closed

[2021-02-03 02:38] #237 closed

[2021-02-03 03:39] xiulipan commented on #578
Close via #601 merged.

[2021-02-03 03:39] #578 closed

[2021-02-03 03:42] xiulipan commented on #564
@marc-hb @aiChaoSONG @keqiaozhang Let's restart the discuss about reaction to this issue.
e1000e is onboard net adaptor right? Are we using them for network now?
If not, maybe disable the driver would be a simpler solution here.

[2021-02-03 03:44] xiulipan commented on #567
@marc-hb @aiChaoSONG It seems we missed USB-1 in https://github.com/thesofproject/sof-test/pull/568
@aiChaoSONG would  you mind to create a new PR?

[2021-02-03 03:45] xiulipan commented on #565
@keqiaozhang Could you help to check what driver is used for our USB adapters? We need to check if it is possible to not use asix device or we still need to filter the erros.

[2021-02-03 04:06] aiChaoSONG commented on #567
These usb errors are never seen when UGreen USB hub is used on helios, for this, I think we should replace usb hub with new one. I will track daily, and see if there errors are still there.

[2021-02-03 04:13] marc-hb commented on #567
Thanks @aiChaoSONG . If some very specific USB hub or device causes error messages then we should really, really get rid of it as soon as we can replace it. We really don't want it to make the network or the audio adapter unreliable.

[2021-02-03 05:26] libinyang commented on #555
close this as @xiulipan and @aiChaoSONG suggested

[2021-02-03 05:26] #555 closed

[2021-02-03 12:34] keqiaozhang commented on #582
Found a new type of USB adaptor error log on CML_HEL_RT5682
Daily report ID:1995
[code]

[2021-02-03 12:48] keqiaozhang opened #603 "[BUG] filter out USB adaptor r8152 error"
**Describe the bug**
This is a new type of USB adaptor error on CML_HEL_RT5682 when testing suspend/resume case.
Daily report ID: 1995
Error:
[code]

[2021-02-03 17:23] marc-hb commented on #603
Let's not use network adapters that output errors.

[2021-02-03 21:11] fredoh9 commented on #603
I will replace with different adaptor known to work fine.

[2021-02-04 04:45] marc-hb opened #605 "[FEATURE] "check-logs" dummy test to merely check boot time errors"
**Is your feature request related to a problem? Please describe.**
Kernel errors at boot time are either not reported properly or not detected at all and stay unnoticed. This is a well known issue and especially bad considering we load audio drivers at boot time right now.
See recent example at https://sof-ci.01.org/sofpr/PR3790/build8042/devicetest/?model=TGLU_RVP_SDW&testcase=verify-sof-firmware

[2021-02-04 04:52] marc-hb commented on #605
For local development the `fake_kern_error()` function should be useful.

[2021-02-04 23:06] plbossart opened #606 "[BUG] filter out USB 1.8 error on Up Extreme"
we need to ignore this.

[code]

[2021-02-04 23:11] plbossart commented on #606
The following diff works for me, but someone smarter than me needs to check the regexp:

[code]

[2021-02-05 01:55] plbossart opened #607 "[BUG] Filter out igb error in Up Extreme suspend-resume tests"
[code]
That's annoying to use a USB dongle on a board that has 2 Ethernet ports...

[2021-02-05 01:59] plbossart commented on #607
This should work?

[code]

[2021-02-05 14:39] plbossart opened #609 "[BUG] verify-firmware-presence.sh doesn't check for the correct firmware file"
On platforms supporting a community key, the scripts look for firmware in /lib/firmware/sof instead of /lib/firmware/sof/community/

[code]

[code]

[2021-02-05 15:41] lgirdwood commented on #609
@marc-hb can you take a look at this, will need for next rc after CNY. Thanks !

[2021-02-05 17:25] plbossart opened #610 "[BUG] more USB errors to be filtered out"
I am starting to lean towards a blanket ignore of all USB issues:

https://sof-ci.01.org/linuxpr/PR2739/build5261/devicetest/?model=CML_HEL_RT5682&testcase=check-kmod-load-unload-after-playback

[code]

[2021-02-05 17:29] plbossart commented on #412
fixed now

[2021-02-05 17:29] #412 closed

[2021-02-05 17:30] #243 closed

[2021-02-05 17:41] plbossart opened #611 "[FEATURE] Loop on open/close play/record"
**Is your feature request related to a problem? Please describe.**

we need to test rapid successions of start/stop on the same device to test state machines and possible race conditions

**Describe the solution you'd like**
[code]

The duration of playback is set relatively high so as to reach a steady state, but stop immediately. This may be useful to force more frequent D0i3-D0 transitions on t

[2021-02-05 17:50] marc-hb commented on #609
I just ran this on my UP2:
[code]

[2021-02-05 17:55] marc-hb commented on #609
From `./tools/sof-dump-status.py --fwpath`:
[code]
@plbossart can you add what's needed to this `community_boards` list? I don't have any `cnl` board to test.

[2021-02-05 20:50] plbossart commented on #609
Ah yes, if you also have a quirk in the sof-test repo that explains it:

See https://github.com/thesofproject/linux/pull/2742/commits/c252d3e02af1d08836b058545260b2e0b907ddeb#diff-804a760efb8767461bffe42cc6e4db6603b11ac591ef5ab89949fb1cc9fdb80bR71

[2021-02-05 20:53] plbossart commented on #609
@ranj063 beat me to it. fixed now

[2021-02-05 20:53] #609 closed

[2021-02-07 04:11] xiulipan commented on #611
@plbossart Could you check if `test-case/check-playback.sh -d 10 -l 1000 -r 1` will make the same thing above?
FYI: @aiChaoSONG @keqiaozhang @marc-hb
maybe what we need to add is a parameter for `msleep(10)` . But I think 10ms here is almost like nothing.
https://github.com/thesofproject/sof-test/blob/cdb0fa13c79e5dd21df63312334c59dd370ddc9c/test-case/check-playback.sh#L93-L101

[2021-02-10 10:24] lgirdwood opened #613 "[FEATURE] provide more context for script errors"
**Is your feature request related to a problem? Please describe.**
Script errors should provide more context. i.e. it's unclear from the following report if it's a FW, driver or script bug.
https://sof-ci.01.org/sofpr/PR3806/build8108/devicetest/?model=TGLU_RVP_SDW&testcase=check-alsabat-headset-playback

**Describe the solution you'd like**
Script die() should dump a lot more relevant info e.g.
[

[2021-02-12 21:18] fredoh9 opened #614 "[BUG] simultaneous-playback-capture is broken in TGLU_VOLT_SDW"
**Describe the bug**
From daily test 2151.
simultaneous-playback-capture is broken with wrong playback pcm id. It must be 1.
[code]

**To Reproduce**
`
sof-test/test-case $ TPLG=sof-tgl-sdw-max98373-rt5682-4ch.tplg ~/sof-test/test-case/simultaneous-playback-capture.sh
`

After looking at the log, sof-tplgreader.py filter out with "id:1", it hit "id:10" as well.  ID 10 is from /dev/snd/pcmC0D10c, D

[2021-02-12 22:54] fredoh9 commented on #614
DMIC id was changed after https://github.com/thesofproject/sof/pull/3806.

[2021-02-16 22:45] plbossart opened #616 "[BUG] sof-kernel-log-check: filter out NVME log."
Need to filter out NVME issue:

https://sof-ci.sh.intel.com/#/result/planresultdetail/2190?model=CML_RVP_SDW&testcase=check-suspend-resume-with-playback-25

[ 6846.214748] kernel: nvme nvme0: Device shutdown incomplete; abort shutdown

[2021-02-16 22:46] plbossart opened #617 "[BUG] sof-kernel-log-check: filter out IGB issues"
One more issue on UpExtreme, solved with following string:

[code]

Maybe we need to ignore all IGB problems really.

[2021-02-17 14:14] plbossart opened #618 "[BUG] sof-kernel-log-check: more USB issues"
This is becoming too hard to track.

https://sof-ci.01.org/linuxpr/PR2492/build5297/devicetest/?model=CML_HEL_RT5682&testcase=check-kmod-load-unload

[code]

I am at the point where I think we need to ignore all USB and networking errors.

[2021-02-19 18:57] fredoh9 commented on #564
Found in TGLH_RVP_HDA also in daily test 2200. I think we need to try both, ignoring the error and BIOS setting.
[code]

[2021-02-19 19:18] marc-hb commented on #564
We had a number of instability issues recently with some systems (e.g. internal issue 667) so let's try disabling in the BIOS or blacklisting first before trying to hide potentially relevant error messages.

[2021-02-20 19:10] fredoh9 opened #621 "[BUG][BYT] alsabat test fails on BYT NOCODEC mode"
**Describe the bug**
alsabat test fails due to signal overflow. this is 100% reproducible.

[code]

**To Reproduce**
Find a device with BYT_MB_NOCODEC platform.

`$ TPLG=sof-byt-nocodec.tplg ~/sof-test/test-case/check-alsabat.sh -p hw:sofnocodec,0 -c hw:sofnocodec,0 -C 2`

[2021-02-20 19:12] fredoh9 commented on #621
There is PG name change and need to re-calibrate PGA gains.
PGA name was
[code]

new PGA names are,
[code]

min/max of "PGA2.0 2 Master Capture" is changed. Re-calibrate the gain, and the fix is submitted internal 1source repo.

[2021-02-20 19:16] fredoh9 commented on #621
for min/max for PGA2,

was
[code]

new,
[code]

[2021-02-22 16:13] plbossart commented on #618
Actually I wonder if the issue is that there's a USB audio device connected:

https://sof-ci.01.org/linuxpr/PR2763/build5314/devicetest/?model=CML_HEL_RT5682&testcase=check-kmod-load-unload

[code]

The 48000 value looks too familiar... @fredoh @aiChaoSONG can we check what's connected to those HELIOS devices?

[2021-02-22 17:18] plbossart opened #622 "[BUG] sof-kernel-log-check: filter out asix issues"
Internal daily test 2262, model=TGLH_0A5E_SDW&testcase=check-suspend-resume-with-playback-25

[code]

[2021-02-22 20:59] fredoh9 commented on #621
the new tuning is merged

[2021-02-22 20:59] #621 closed

[2021-02-22 23:47] fredoh9 commented on #567
I replaced with known to work fine. Left is new one, right side is before. Both are from UGreen. I ran manual test, it looks working fine. I will wait and check for couple more days. If the problem is not happening again, I will close this issue. BTW, I replaced same USB hub for all Helios in JF(3 DUTs)

![20210222_142415_ugreen](https://user-images.githubusercontent.com/45636982/108784731-df444d8

[2021-02-24 20:34] fredoh9 commented on #593
I replaced with the USB-C hub in all devices in JF but I just notice the device is used in nightly test 1807 is sh-cml-hel-rt5682-04.

[2021-02-25 15:02] plbossart opened #623 "[BUG] sof-kernel-log-check: filter out r8152/enx issue"
Daily test 1025 TGLU_VOLT_SDW check-suspend-resume-with-playback-25

[code]

no idea what this is.

[2021-02-25 15:16] fredoh9 commented on #603
Found r8152 error in daily test id 2305. DUT is `sh-tglu-volt-sdw-03`.

`[ 1302.910119] kernel: r8152 3-4.1:1.0 enx9405bb16746a: can't resubmit intr, status -1`

[2021-02-25 15:33] fredoh9 commented on #603
For CML_HEL_RT5682, I don't see usb error any more after replacing the USB adaptor.

[2021-02-25 15:35] fredoh9 commented on #292
yes, thank you!

[2021-02-25 15:39] fredoh9 commented on #567
I haven't seen any error after the replacement. I will wait for one more day and close this.

[2021-02-25 17:35] plbossart commented on #623
duplicate of https://github.com/thesofproject/sof-test/issues/603

[2021-02-25 17:35] #623 closed

[2021-03-03 23:34] fredoh9 commented on #606
@ranj063 reported similar errors with UP Extreme with suspend/resume test. Need to handle together.

[code]

[2021-03-04 16:27] marc-hb commented on #622
Other errors from the same unreliable adapters in #565

[2021-03-05 06:10] marc-hb commented on #617
`igb` = Intel Gigabit Ethernet.

I searched this message in the source code and on the Internet and it could be a cable issue, can you try a different cable?

Ignoring bad cables and similar network issues sounds like a bad idea.

[2021-03-05 06:18] marc-hb commented on #616
This one apparently means the storage wasn't given power for long enough to shut down correctly (Flash Translation Layer requires complex firmware). Was this following a crash?

@fredoh9 I vaguely remember you dealt with some NVMe storage corruption some time back? I couldn't find any trace of that unfortunately.

[2021-03-05 06:19] #506 closed

[2021-03-05 06:24] marc-hb commented on #613
@lgirdwood the title looks like a request for some generic framework enhancement but this particular example seems very specific. Which is it?

[2021-03-05 06:28] fredoh9 commented on #413
I haven't seen this for a long time. We can close this.

[2021-03-05 06:28] #413 closed

[2021-03-05 11:18] lgirdwood commented on #613
It's generic, we need to see more information about the sounds cards and PCMs being exposed.

[2021-03-05 16:22] plbossart commented on #617
It's not a cable issue, I use the same with other interfaces (RTL or USB dongles) and they work fine.

[2021-03-05 17:04] marc-hb commented on #617
Gigabit Ethernet uses all 4 pairs both ways. 100Mb/s uses only 2 pairs one-way each.

[2021-03-05 19:40] plbossart commented on #617
I have only Gigabit stuff and 935Mbs/s all the way to my devices over Google Fiber. Cables are not the problem

[2021-03-05 19:44] plbossart commented on #617
PING:
6.0 ms
DOWNLOAD
936 Mbps
UPLOAD
816 Mbps

[2021-03-05 23:49] marc-hb commented on #617
Looking at `drivers/net/ethernet/intel/igb/igb_main.c` this error message is printed when and only when a watchdog found `SR_1000T_REMOTE_RX_STATUS` a.k.a `Remote receiver OK` to be repeatedly wrong 20 times over 2 seconds. Really not good.

How often do you get this message and what other `igb` messages are around it? It could have been just a temporary glitch because of some bad contact or bent

[2021-03-06 00:33] marc-hb commented on #613
OK then please add any other information you'd like.

If it's long it should probably be added to `logs/test_name/2021-01-21-22:47:03-99/` and not stdout.

The right place to implement this is `sof-test/case-lib/hijack.sh#func_exit_handler()`.

Insert a `fake_kern_error()` in any test to test `func_exit_handler()` locally.

[2021-03-06 02:23] #606 closed

[2021-03-08 05:46] #622 closed

[2021-03-15 21:43] plbossart commented on #617
I get this with a different board and different cables

[code]

[2021-03-19 15:22] marc-hb commented on #617
@plbossart closed by #631?

[2021-03-19 15:23] marc-hb commented on #607
@plbossart  closed by #631 ?

[2021-03-19 19:08] #617 closed

[2021-03-19 19:08] #607 closed

[2021-03-22 23:04] plbossart opened #633 "[FEATURE] sof-test needs to support Fedora 34"
With the transition in Fedora34 from PulseAudio to Pipewire, some of our scripts dealing with PulseAudio need to be updated.

[2021-03-23 11:52] lgirdwood commented on #633
@perexg @jwrdegoede fyi

[2021-03-24 09:29] perexg commented on #633
Adding Wim to the chain. @wtay

Could you link us to scripts which should be checked / modified?

[2021-03-24 11:08] lgirdwood commented on #633
We have a lot of test scripts here https://github.com/thesofproject/sof-test/tree/master/test-case and IIIUC they all use the ALSA APIs (i.e. none use any PA APIs) so my expectation is that these _should_ work (or require minimal configuration changes).

I think the largest task is probably to integrate the Jenkins based audio test infrastructure we have to additionally support RPM pagkages. Today

[2021-03-24 14:24] marc-hb commented on #633
Agreed: 95% of sof-test  should just work on Fedora (please report bugs and/or submit fixes) whereas the Debian packaging of the kernel and ALSA packages is obviously not going to work.

[2021-03-26 06:51] aiChaoSONG opened #638 "[Enhancement][log] log collection with journalctl"
We are still using /var/log/kern.log for log collection, this file is not exist on ChromeOS and Fedora, which makes sof-test not flexible. Replace current log collection with journalctl.

Issue migrate from gitlab:
- https://gitlab.devtools.intel.com/sof-ci/sofcitest/issues/466
- https://gitlab.devtools.intel.com/sof-ci/sofcitest/issues/477
- https://gitlab.devtools.intel.com/sof-ci/sofcitest/issu